[2019-10-20 12:57] danboid commented on #381
Audio playback still seems flawed but the good news is that I discovered today that you can now play wav files with aplay in a terminal and drag it around without the sound playback being interrupted. It could just be because kvm is enabled now.

[2019-10-20 12:57] #381 closed

[2019-10-20 14:24] #664 closed

[2019-10-21 12:04] chyza opened #679 "Kernel: kmalloc() panic when loading the birthday web page after using the system for a while."
I'm able to reliably trigger kernel panics by opening and closing every program in the launcher, opening the browser, and heading to http://www.serenityos.org/happy/1st/, midway through loading the images the system will panic, if it doesn't opening and closing some more programs and reloading the page eventually does it.

Logs:
[code]

Another example:
[code]

possible memory leak?

[2019-10-21 14:09] DrewStratford opened #680 "SystemMonitor: clicking on dead process causes kernel panic."
Steps to reproduce:

1. Create a zombie process.
2. Open SystemMonitor and find the dead process in the Processes view.
3. Click on the dead process.

This should get a debug log like:
[code]

Also, this can be used to quickly create a zombie process.
[code]

[2019-10-23 01:56] duckinator commented on #397
Yeah, `cdh` to dump history and `cdh <number>` to switch seems pretty slick!

[2019-10-23 05:45] #680 closed

[2019-10-24 14:34] boricj opened #687 "Browser: crashes on visiting http://bettermotherf*ckingwebsite.com"
Since Browser can successfully render http://motherfuckingwebsite.com, the next logical step would be to successfully render http://bettermotherfuckingwebsite.com.

There are two issues when trying to visit this website:
- The webserver always sends payloads with `Content-Encoding: gzip` and seems to disregard any kind of `Accept-Encoding` header. The UTF-8 parser is not happy with the binary data

[2019-10-27 09:02] awesomekling opened #691 "Kernel: Handle signals sent to process that never made a syscall"
If a process receives a signal before it has made a single syscall, things will currently fall apart.

This is because `dispatch_signal()` expects to find a userspace register dump at the top of the kernel stack, but with no syscalls made yet, there's nothing there.

Also, I'm not sure if this code is correct in the case where a process is just running regular userspace code. Wouldn't we be using

[2019-10-27 11:28] schnema123 commented on #687
The crash is because '}' is a valid character for property values in [1] and is therefore consumed by parse_property(). This is because I think the CSS parsers expects that a property declaration is ending with a ';', which is not the case in the given CSS [2].

[1] https://github.com/SerenityOS/serenity/blob/eb77e680ed615e9daf5b165359b4a45541b4e6f3/Libraries/LibHTML/Parser/CSSParser.cpp#L283
[2]

[2019-10-27 14:50] DrewStratford commented on #691
To begin, for some reason I can't build the `make` port on my system, so my debugging experience may differ from yours (in HackStudio Ctrl-r just outputs `make: Command not found`).

That being said, I can still reproduce the bug by holding Ctrl-r. The thing is though, based on my logging, `dispatch_signal()` isn't being called at all. I'd be interested in seeing a longer log from your build, incl

[2019-10-27 14:59] awesomekling commented on #691
Oh that sucks. Any idea why? I just tested here and it builds nicely on my (Ubuntu 19.04) system.

Hmm, oh, unless the process is new and has never executed yet! :)

[2019-10-27 15:24] stievie commented on #691
Same here, it says:
[code]

I'm on Manjaro
`Linux manjaro 5.3.6-1-MANJARO #1 SMP PREEMPT Sat Oct 12 09:30:05 UTC 2019 x86_64 GNU/Linux`

[2019-10-28 01:25] DrewStratford commented on #691
Oh okay, that definitely makes sense. I've been able to reproduce it by creating a fake `make` executable. My quick n' dirty fix for this is to introduce an `has_run` variable and only dispatch signals after this has been set, though this may be a bit too hacky.
The long term solution is to move to a software threading scheme where we don't have to keep the `tss` and `RegisterDumps` in sync. This'

[2019-10-28 07:20] danboid opened #695 "Fails to boot on Stone NOTCHA-116-7 / Via C7-M netbook"
I recently acquired a Stone Computers NOTCHA-116-7 netbook which seemed to me to be a perfect candidate for running Serenity due to its CPU which which roughly equivalent to a PIII/Pentium-M, 1 GB RAM, 60 GB IDE HD, PS/2 keyboard/touchpad and that all-important integrated RTL-8139 NIC.

I spent all day yesterday setting up netboot.xyz on my home network specifically so I could try to install Seren

[2019-10-28 08:22] #585 closed

[2019-10-28 08:44] supercomputer7 commented on #695
That's definitely a strange problem. From what I see, this is the BIOS provided memory map:
[code]
There are 2 usable regions, one below the 1MB (high memory) region, one above. In comparison to the previous issue you opened there were 2 usable regions above 1MB. So, I assume this issue isn't related to memory map problems...

I looked for the IDE controller in the text log but only I found these

[2019-10-28 10:09] danboid commented on #695
Thanks for giving your feedback Liav! We can only guess without seeing the actual boot errors of course.

The only storage option apart from changing the boot order in the BIOS is to enable/disable 32 bit transfers. I tried both settings and both failed to boot. The boot menu lists the HD as an IDE disk so that is why I am presuming it is IDE rather than SATA. I've not been able to open it up yet

[2019-10-28 11:54] supercomputer7 commented on #695
Don't bother opening it up just to see what is the interface type, since it is written in the dmesg log:
[code]
The ATA IDENTIFY CMD returned that the interface is 40-wire cable. Even if that interface is "emulated", that what is also what Serenity will probably see during boot.
As AK said in the IRC channel, our best bet is to build a boot parameter that will enable text mode. Then we can debug w

[2019-10-29 18:46] danboid commented on #695
Thanks to @supercomputer7, we now have a method for getting a text boot to debug boot issues on machines without a serial port. All you need to do is edit Kernel/Arch/i386/Boot/boot.S and remove `| MULTIBOOT_VIDEO_MODE` from the end of the `.set multiboot_flags` line (line 5).

After doing that, I can see that serenity stops booting after detecting my PCI devices. It detects my RTL8139 and assigns

[2019-10-29 19:09] supercomputer7 commented on #695
From my checking now, the problem is probably with your IDE controller. I tried to boot Serenity on q35 machine (with an AHCI controller), it halts on the same message:
[code]
This is your IDE Controller according to your dmesg log:
[code]
Which corresponds to:
`0x8A - ISA Compatibility mode controller, supports both channels switched to PCI native mode, supports bus mastering`
instead of the QEMU

[2019-10-29 19:26] danboid commented on #695
I've not been able to find any info about this netbook online. Maybe if I install FreeBSD or OpenBSD on it I can find out the exact model of the IDE controller? Of course we know its a VIA one but which one exactly?

[2019-10-29 21:50] deoxxa commented on #695
The garbage pixels at the top of your screen are probably text content being written into the VGA framebuffer. I would try turning off the graphical stuff that we ask grub to do in [boot.s] (you might want the [multiboot specification] handy), which should let serenity write its boot log out to the screen. This is assuming there's not a serial port available to get some logs from.

[boot.s]: https

[2019-10-29 22:30] danboid commented on #695
`lspci` says it is using a CX700/VX700 RAID Controller for the IDE interface and a VT8237/VX700 PCI bridge.

[2019-10-30 09:14] supercomputer7 commented on #695
Please check if you can disable the RAID functionality in the BIOS settings. It will be very useful if you can copy the `lspci` output here (although I gathered some info from the `dmesg` log). I wonder if Linux detects some sort of SAS/SATA controller (I think I saw something like that in the `dmesg` log) and tries to use it (again, `lspci` output will help here).

[2019-10-30 09:34] supercomputer7 opened #697 "Text mode shell bug"
Hi,
Just noticed that if you try to boot Serenity in text mode, it works just fine, then if you enter some directory, the commands you write are not visible (although if you write them and press Enter, they will work).

How to reproduce -
run Serenity in text mode:
`./run qtext`
Then, enter some directory:
`cd bin`
Try to type commands now.
As long as you write them correctly and then hit Enter, t

[2019-10-30 10:32] DrewStratford commented on #697
These are the two issues that I can see:
- In shell.cpp we don't seem to be resetting the termios settings after builtin commands. This would explain why `cd` is causing an issue.
- The `VirtualConsole` doesn't properly implement `TTY::echo`. (I think I was being a bit lazy when I originally implemented this).

I have no clue about the random crashes or inability to detect commands though.

[2019-10-30 10:45] awesomekling commented on #697
Good points from @DrewStratford

Also, the terminal emulation code in `VirtualConsole` is outdated. It's an old snapshot of what's today in `LibVT`. The way forward here is to replace the emulation code in `VirtualConsole` with a `VT::Terminal`. Then we will have the same capabilities in the `Terminal` app and in the text console. :)

[2019-10-30 13:30] DrewStratford commented on #697
I've created PR that fixes the echoing and termios setting thing. But I couldn't update `VirtualConsole`'s terminal emulation to use `LibVT`. The main issue I had is that `VT::Terminal::on_char` doesn't call `VirtualConsole::put_character_at`, so I don't know how to update the actual vga memory. I might leave this up to someone else.

[2019-10-30 14:16] CalebOtto opened #700 ".run Crashes Terminal"
I decided to repull the project (from scratch, removing the old folder). Completed the build process with no errors. Upon running .run the terminal crashes and re-starting .run I get, "i686-pc-serenity-g++: not found"

I've had this error before and reusing"BuildIt and source UseIt" fixed the issue, however, that is no longer the case. I have retried the entire process 3 times and have even re-pul

[2019-10-30 14:40] danboid opened #701 "CTRL+D doesn't exit the root shell"
Pushing CTRL+D successfully exits a regular user shell but it doesn't work for the root shell.

[2019-10-30 15:00] danboid opened #702 "ifconfig issues"
Currently, ifconfig just shows the IP addresses and lets you configure just the IP addresses of network adapters.  If you want to change the netmask or gateway you have to edit the source.

ifconfig should let you configure the netmask and gateway too and it should print those settings when run without any arguments.

Additionally, changing the IP address doesn't survive a reboot. Ideally all the

[2019-10-30 15:07] danboid opened #703 "Incorrect disk_benchmark results"
I have installed Serenity on a physical PC and the read results are incorrect. hdparm (under Linux) says my disk manages to read data at around 57 MB/s but disk_benchmark says I am getting ~98 to ~174 MB/s, most likely because it is not bypassing the serenity disk cache.

[2019-10-30 16:04] danboid commented on #702
A quick poll in the serenity IRC channel earlier resulted in those present favouring a .ini file for network config.

[2019-10-30 19:01] saffradika opened #704 "Good Operating System"
The operating system that we developed is very cool. But my user interface is not very good yet

[2019-10-30 19:13] Pulgovisk commented on #704
🤔🤔🤔

[2019-10-30 19:25] lionkor commented on #704
I'm pretty sure this is spam?!

[2019-10-30 19:33] #704 closed

[2019-10-31 00:30] danboid commented on #695
There is no option to disable RAID in the BIOS. The only disk option in the BIOS (except changing boot order) is to enable/disable 32 bit IO.

@Quaker762 sent me a patch for the PATA code that prints an error at boot when no supported IDE controller is found which has proven that that is the issue here.

Here is the full `lspci` output:

[code]

[2019-10-31 13:28] Alaminmolla opened #708 "àndroid bèta version ¹0"

[2019-10-31 13:30] Alaminmolla commented on #708
*
!*.*
!*/
!Makefile
!LICENSE
!Base/**

*.o
*.ao
*.a

*.d

*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
Root
Toolchain/Tarballs
Toolchain/Build
Toolchain/Local
.vscode
compile_commands.json
.clang_complete
*Endpoint.h
Ports/packages.db
#708

[2019-10-31 13:33] Alaminmolla commented on #708
Creat adroid  beta version 10 #707

[2019-10-31 13:34] Alaminmolla commented on #708
#7.1.2

[2019-10-31 13:34] #708 closed

[2019-11-01 12:08] sleepy-monax opened #711 "Kernel: Add support for UBSAN"
This should help us to catch bugs in the kernel more easily :)

Also, I would like to work on this issue

[2019-11-01 12:35] rickasheye opened #712 "Using a error screen like a bluescreen from windows or something to display instead of freeze?"
everytime a vital error occurs the whole virtual machine just freezes and would be cool to see it show error screen of some sort then restart to inform the user or unless its used for reference in the terminal and there is none

[2019-11-01 20:38] tedjenkins opened #714 "Converting .sh files from bash to generic shell"
Hello Andreas! I notice that most .sh files in this project are specifically written to be interpreted in bash only and was wondering if you would be open to them being amended so they can be interpreted by all POSIX-compliant shells. Not everybody uses bash, and while compatibility modes exist in some other shells, it would be a more future-proof and sensible (in my view) action to take out the '

[2019-11-01 20:44] #701 closed

[2019-11-01 20:45] awesomekling commented on #711
Sounds like a nice idea :)

[2019-11-01 20:45] awesomekling commented on #700
"i686-pc-serenity-g++: not found"

This error means you have either not sourced UseIt.sh, or your toolchain is missing somehow.

[2019-11-01 20:54] awesomekling commented on #714
Hi there! That sounds like a lot of low-value churn if the point is just to accommodate some small group of random unknown people.

That said, the thing that actually matters in the long run is for Serenity's own shell to be able to run all the scripts. If we re-frame this as wanting to target a standard set of shell functionality so that Serenity's `sh` can run everything (once it improves), it b

[2019-11-01 20:56] awesomekling commented on #714
Hmm, that sounded more negative than I realized it would. Sorry about that!

What I mean to say is, this seems like a reasonable thing to do, and we should also move towards making Serenity's `sh` a proper POSIX shell :)

[2019-11-01 21:00] awesomekling commented on #645
Something has gone wrong with your cross-compiler. It's also passing in `guile` include paths for some reason.

I have no knowledge about Arch, so I cannot do much about this.

[2019-11-01 22:07] The-King-of-Toasters commented on #645
I've setup my toolchain again and the problem still persists. Here's the [latest error log](https://www.sgregoratto.me/paste/error.log). Perhaps the configure script is pulling in Guile? I can also see that `--with-sysroot=/` gives a warning.

[2019-11-02 01:46] rhin123 commented on #507
@andrewwellercs If you don't mind I'd like to give this a shot :grin:

[2019-11-02 01:55] CalebOtto commented on #700
I've tried the entire process multiple times, even deleting and repulling the project. It gets to .run without any errors, then crashes the terminal and trying .run again throws the error mentioned as if it was deleted when trying to run it.

Last time I had that error, I used BuildIt and source UseIt and it fixed the issue, this time it just doesn't run.

[2019-11-02 01:57] CalebOtto commented on #700
This is what I get when .run does work:
![image](https://user-images.githubusercontent.com/43943268/68064492-f9727f00-fd67-11e9-8177-949807017d78.png)

[2019-11-02 08:26] tedjenkins commented on #714
This is what I'm talking about, it's better for the shell scripts to be generic rather than limited to one particular flavour of shell. Newer versions of Mac OS X come with zsh instead of bash as standard, and a wide range of Linux distributions are also the same. You wouldn't want to tie Serenity to bash instead of its own shell, so why write the shell scripts to target bash specifically?

[2019-11-02 09:41] awesomekling commented on #714
Yes, I'm all for writing the scripts in a generic sh flavor. :)

[2019-11-02 10:38] danboid opened #716 "Ports: dosbox SDL2"
I've already had a go at getting this to build. I think it will build pretty easily because it has already been ported to every OS under the sun,  I just failed to get configure to use the sdl2-config script within the serenity SDL2 port source dir instead of the one on my system and my attempts at manually setting the lib and include dirs failed. Someone who knows autoconf better than me  will pr

[2019-11-02 10:54] danboid commented on #716
Both the git tree and the only release of dosbox SDL2 lack a configure script so I cloned the repo, ran `autoconf` to generate the configure script then I pushed the tree + configure to my repo.

The other obvious bit of fixing is I had to add `| serenity* | ` somewhere around line 120 of config.sub to stop configure complaining about our ScandiOS of choice.

[2019-11-02 11:00] tedjenkins commented on #714
I'll get started on it then :)

[2019-11-02 11:00] #714 closed

[2019-11-02 11:18] tdaugaard opened #717 "SystemServer: Unrecoverable page fault, read from address 0x00000000"
Hey!

I've tried to build SerenityOS as outlined in the README file, and the result is a page fault, preventing it from starting:

[code]
Full log here: https://gist.github.com/tdaugaard/2fb73826022afd38aae36f010b560628

**System**

- Ubuntu 18.04
- ASUS PRIME X370-A motherboard
- AMD Ryzen 7 1700X CPU

**What I did**

[code]

[2019-11-02 15:53] danboid commented on #716
I've just realise we can export EVs in the port build scripts, that may fix my prob. Will have to have another go at this.

[2019-11-02 16:13] giawa opened #719 "Boot fails with -enable-kvm switch"
Host OS: Linux Mint 4.15.0-20
QEMU: 3.0.0

Serenity will not run with the -enable-kvm switch for qemu.  However, the error I am getting does not appear to be a permissions or kvm issue.

`modprobe kvm-amd`

Works fine.  I also don't get any permission errors.  Instead, the CPU seems to just keep resetting, with this warning at the start.

The first warning seems semi-similar to this issue: https:/

[2019-11-02 21:35] luxe opened #723 "stuck in boot: Unhandled IRQ (register_interrupt_handler)"
./run
[code]

Let me know if I can provide more information.

[2019-11-02 22:06] The-King-of-Toasters commented on #645
Well, I fixed it. All I had to do was add `--without-guile` to the configopts.

[2019-11-03 05:39] azaka opened #725 "Ports: libpng"
Would be nice if libpng is added to a list of ports.

[2019-11-03 09:23] #645 closed

[2019-11-04 02:15] rhin123 commented on #507
@awesomekling How should I approach the redo functionality? Should I crease a whole separate `redo` stack or keep it all in the same vector?

[2019-11-04 09:10] awesomekling commented on #507
@rhin123 Same stack, just call `redo()` when traversing it in the other direction :)

[2019-11-04 09:13] #691 closed

[2019-11-04 11:51] awesomekling commented on #725
Sure. Any particular reason?

[2019-11-04 11:52] awesomekling commented on #723
What host OS?
What QEMU version?

[2019-11-04 11:53] awesomekling commented on #719
Does your user have access to `/dev/kvm`?

[2019-11-04 11:54] awesomekling commented on #717
Everything in the "What I did" section looks good. My guess would be that something went wrong with the construction of your disk image.

Could you paste the complete output from `./makeall.sh`?

[2019-11-04 11:58] awesomekling commented on #700
Hm, I have no idea what that is. Based on the very last screenshot, it looks like your host machine's `/bin/sh` is having trouble interpreting the `run` script.

I'm not familiar with Lubuntu, so you'll have to debug this yourself.

[2019-11-04 13:29] Pulgovisk commented on #700
What is your user default shell?
$ echo $SHELL

[2019-11-04 13:46] CalebOtto commented on #700
/bin/bash is my default

[2019-11-04 18:06] giawa commented on #719
I do have access to `/dev/kvm`.  If I deny access then qemu immediately fails with:

With access I get the infinite restart as shown above.

[2019-11-04 19:11] danboid commented on #608
It still eats a lot of CPU but we can safely copy large files after todays latest ext2 fixes.

[2019-11-04 19:11] #608 closed

[2019-11-04 20:04] danboid commented on #406
This requires an openssl port

[2019-11-05 00:22] danboid commented on #725
@kyllikki will probably need this for netsurf, unless he tweaks it to use serenity's PNG library.

[2019-11-05 00:29] danboid commented on #521
@tlmrgvf (Till) has fixed most of these now. SoundPlayer now plays files correctly and you can seek, pause and stop.

There is no in-app volume setting nor does it display the name of the current track yet. I'm not too concerned about adjusting the volume in SoundPlayer but we really should show the file name.

[2019-11-05 00:29] Pulgovisk commented on #632
Or maybe something like

[code]

[2019-11-05 02:07] luxe commented on #723
[code]

[code]
I'll try to reproduce in a docker container.  Maybe we could extend the CI to verify a boot.

[2019-11-05 09:41] awesomekling opened #734 "Kernel: Move all kernel VM above the 0xc0000000 mark"
The memory layout of the kernel is currently a bit convoluted.

* The low 8MB of memory is identity-mapped.
* We load the kernel at the 1MB mark.
* From 3MB to 8MB is kernel heap (kmalloc, kmalloc_eternal, and supervisor physical pages (pages reserved for VM data structures, basically))

All other physical memory is available for allocation via the physical page allocator.

Going forward we should

[2019-11-05 10:33] danboid opened #735 "df doesn't calculate free space correctly"
Whilst testing cp yesterday I noticed that df doesn't show the correct amount of free space. The amount of free space barely changed after I copied then deleted a 280 MB ISO.

It would also be nice to have a -h (humanise) switch.

[2019-11-05 18:49] #703 closed

[2019-11-05 18:51] awesomekling commented on #679
This should be fixed by c538648465d1a35f1eb6d059245537e186a7e855

Basically, the issue was that we were holding on to every file you ever opened, in the big inode cache. Now we uncache them when nobody is using them anymore. :)

[2019-11-05 18:51] #679 closed

[2019-11-05 19:20] danboid opened #738 "POSIX threads support"
I recently ported nesalizer to serenity but we can't run it yet because SDL needs to be built with pthread support enabled, which we can't do until the serenity kernel gains support for the pthreads API. I've looked at porting a few other emus but most require pthreads support.

[2019-11-05 21:08] awesomekling commented on #738
Dupe of #223 :)

[2019-11-05 21:08] #738 closed

[2019-11-05 22:22] danboid commented on #738
Ooops!

Sorry AK!

[2019-11-08 21:43] supercomputer7 commented on #617
@danboid Now the patch is merged (and tested with my bootloader with the replicated memory map), please try to install and boot Serenity on your machine and report back to us if everything is working correctly :)

[2019-11-08 22:29] linusg commented on #687
Andreas did a video on this:

The gzip issue remains, but a local copy of http://bettermotherfuckingwebsite.com does render now :smile:

[2019-11-08 23:07] xeons commented on #700
Is this a fresh VM? I have the latest Lubuntu on one of my machines at home, I may be able to look.

[2019-11-09 00:24] xeons opened #743 "LibGUI: Implement TrueType and/or OpenType fonts"
Currently Serenity only supports pixel based fonts, and as such are limited in size and cannot be scaled. (unless of course you did some type of pixel based scaling with anti-aliasing, but that would probably look terrible). On higher resolution screens with higher pixel densities the fonts also become unreadable, so implementing this would also allow for possible display scaling in the future.

T

[2019-11-09 01:47] xeons commented on #700
I'm not able to reproduce the problem on Lubuntu 19.04

[2019-11-09 10:47] Mcpg commented on #357
Is there still an interest in a centralized settings interface?

I've been thinking a bit about how the front end API for the registry could be done, and I came up with something like this:
[code]
It's a _bit_ dirty, but it's just a first "sketch" of my idea of the base API.

[2019-11-09 13:05] schnema123 commented on #687
I am working on gzip at the moment. Trying to understand the project structure to know where to put stuff...

[2019-11-09 16:02] DrewStratford opened #747 "Kernel: ^D or exit doesn't close Terminal"
Note that this is not the same bug as #558 as Terminal remains open every time exit is called.

Bisecting shows that this was introduced by this commit: ~~845094f9e45b7f785a98b56cfd3416a9fa8d9ce8~~  (update: 2f16e31afcf065cbe9c903889c0bb74f0bb2adb0).

[2019-11-09 16:03] danboid opened #748 "page fault when trying to extract .tgz with bsdtar"
Install the `libarchive` port and try running `bsdtar -xf archivefile.tar.gz` and it fails like so:

[code]

[2019-11-09 16:35] danboid commented on #747
Ah yes! That commit fixed it so you could exit out of a root shell to the regular user one but I didn't notice it has broke quitting out of the normal users shell.

[2019-11-09 19:55] #521 closed

[2019-11-09 21:13] awesomekling commented on #747
Hmm, I wonder why that change would cause the `exit` shell command to behave differently.
This code path should only be taken when pressing `^D`. Have to look closer at this.

[2019-11-09 23:42] awesomekling opened #751 "WindowServer: Don't unmaximize on titlebar mousedown"
We should unmaximize after you mousedown and actually *drag* the window for at least 1 pixel.

[2019-11-10 01:55] DrewStratford commented on #747
Oops, turns out I had copy pasted the wrong commit. 2f16e31afcf065cbe9c903889c0bb74f0bb2adb0 is what I had meant to post.

I'm not totally sure, but could it some sort of reference counting error? It seems we have a mix of raw pointers and and RefPtr, which could lead to problems.

[2019-11-10 07:51] awesomekling commented on #747
Fixed in 07806d12732e45b8e42350307e25fcb36c2f0f52

[2019-11-10 07:51] #747 closed

[2019-11-10 08:53] lanza opened #752 "BuiltIt.sh fails -- Ubuntu 19.10"
During the `make install-target-libstdc++-v3` step `BuildIt.sh` fails while processing `ctype_base.h` saying it doens't have a definition for `_U`, `_L` etc. These are defined in `Root/usr/incldue/ctype.h`. Though `ctyle_base.h` doesn't include this file anyways.

Here's the invocation and error: https://pastebin.com/Jm2Ke0sL

[2019-11-10 10:04] danboid opened #753 "Terminal: Scrollbar missing"
The Terminal scrollbar no longer appears when there is more than a screenful of text.

[2019-11-10 11:12] awesomekling commented on #752
Huh, haven't seen that before. What GCC version is your host system using?
I've got a week old 19.10 install running one one machine and it builds there.

[2019-11-10 11:54] awesomekling commented on #687
Fixed as of c40935e79f6a404e053b1c5908d8acf557cfaa91, thanks to @schnema123 :tada:

[2019-11-10 11:54] #687 closed

[2019-11-10 12:01] danboid opened #754 "ports: cannot redirect stderr under bash, breaking configure scripts"
Today I installed the serenity ports of gcc, make and bash hoping to build some software within serenity but trying to run any configure scripts under serenity/bash fails with many

[code]

errors which I interpret as stderr redirection not working.

The serenity shell doesn't support redirecting stderr yet but this should be working under bash.

[2019-11-10 12:01] #753 closed

[2019-11-10 12:51] #748 closed

[2019-11-10 13:38] danboid opened #755 "crash with bsdtar"
[code]

[2019-11-10 14:15] danboid commented on #755
It works fine extracting smaller tarballs.

[2019-11-10 14:45] awesomekling commented on #755
This took several minutes to fail for me. But it did fail :)

[2019-11-10 14:56] danboid commented on #755
Ah good/bad! Thanks for testing!

[2019-11-10 15:08] danboid commented on #754
In an act of desperate hacking I removed every instance of `2>&1` and `2>/dev/null` from a configure script but you'll probably be totally unsurprised to learn that failed to fix my issue as the script failed to run without.

[2019-11-10 16:05] rhin123 opened #757 "Browser: Crash on resize on http://txti.es/terms"
`br(17): Not enough bytes (need 3, have 2), first byte is: 226 ” or “Us”). Questions concerning this Application or its operation should be directed to https://twitter.com/thebarrytone. Use of the Application is offered to You conditioned on Your acceptance without modification of this Agreeement. You agree to familiarize Yourself with and abide by the Agreement if and when You use the Application

[2019-11-10 17:28] awesomekling commented on #751
Fixed by 7e7451c427ea50b1b3c53c5e839e7bd6ebac358c

[2019-11-10 17:28] #751 closed

[2019-11-10 21:50] masi456 commented on #743
I am making some small steps in this direction. Although there is still a lot of work needed.

![Screenshot_20191110_232928](https://user-images.githubusercontent.com/9115235/68551356-6f33b600-040c-11ea-8dd7-c7dc9efb76fa.png)

[2019-11-11 05:11] lanza commented on #752
Hmm I had a problem initially using the default gcc and thus switched to gcc-8. That's when I hit this problem. I switched back to default gcc and was able to get the toolchain to build. I don't recall what occurred originally, though. But it works, thanks!

[2019-11-11 05:11] #752 closed

[2019-11-11 07:45] awesomekling commented on #757
Resizing will relayout the text, so I suspect we're breaking a line somewhere in the middle of a UTF-8 codepoint, or something like that.

[2019-11-11 10:06] danboid commented on #617
Congrats Liav!

Serenity now boots on this board, which must mean Serenity is now capable of booting on 1000's more x86 machines I presume.

There were 2 unrelated issues. The display wasn't correctly horizontally aligned (although I've only tested with one monitor) and because the IDE controller wasn't supported it had to fall back to PIO mode so well done to @Quaker762 for getting that to work.

[2019-11-11 10:06] #617 closed

[2019-11-11 15:24] danboid commented on #754
This 'error' is caused by unquoted commands in parentheses but the configure shell code is valid and should work.

I have been able to "fix" this specific error manually but there is clearly something awry with our bash port and/or the serenity terminal or shell.

I'll have to try porting dash or another shell to see if it has the same problem.

[2019-11-12 18:20] awesomekling commented on #498
This should be a lot better now, but it's still possible to run out of memory.

[2019-11-12 20:00] awesomekling opened #767 "GTextEditor: Ctrl+Left/Right should jump between spans"
Basically it should use the same metadata as double-clicking does.

[2019-11-12 20:02] awesomekling opened #768 "HackStudio: Show full backtraces when a running program crashes"
Instead of just showing "Segmentation violation" with an assertion failure text, let's show the whole backtrace somewhere in HackStudio. The most obvious place would be in the console.

[2019-11-12 20:04] awesomekling opened #769 "GTextEditor: Have an optional mode that lights up matching {} and () pairs"
This mode should be optional and off by default. Perhaps it could use the data from the C++ syntax highlighting, although it's a bit fuzzy by the time it gets to GTextEditor. (By that time, it's a GTextDocument::Span, and has no clue that it represents a paren or a curly..

[2019-11-12 20:05] awesomekling opened #770 "GTextEditor: Sort the selected lines with Alt+Shift+S"
Selecting a bunch of lines and pressing Alt+Shift+S should sort them in alphabetical order.
Qt Creator does this and I like to use it from time to time :)

[2019-11-12 20:06] awesomekling opened #771 "HackStudio: Should have a stop button to kill the running process"
If we've started running the program we're working on, we should also be able to stop it!

[2019-11-13 16:53] lionkor opened #775 "shutdown: No shutdown after confirmation"
Using the "Shutdown..." option from the Taskbar menu does not actually shut down Serenity after confirming in the shutdown confirmation message box.

Log:
[code]

[2019-11-13 17:04] awesomekling commented on #775
Ah yeah, this is a bug. The `shutdown()` syscall fails because the `SystemDialog` program runs with a non-superuser UID :)

[2019-11-13 17:22] lionkor opened #776 "Terminal/Shell: Closing multiple instances with Ctrl+D leads to WindowServer Page Fault"
"Terminal" crashes when multiple instances are open and one attempts to close them in rapid succession with Ctrl+D (closing using the [x] button doesn't cause this as far as I can tell).

This crashes the WindowServer. I also observed this to happen sometimes in other cases, but this was the only one I found to be reproducible.

This is reproducible by opening two instances of "Terminal" and press

[2019-11-13 21:09] rhin123 commented on #757
I tried investigating the text with the DOM inspector & got this:

`WindowServer(9): [WM] WSWindow{0x0233c016} title set to "DOM inspector"
br(16): First byte doesn't make sense, bytes: ��I Agree � (or similar), You acknowledge and accept the terms and conditions of this agreement ( ��Agreement � ). If You do not agree, You are granted no rights in or to the Application and shall not use the Appli

[2019-11-13 21:26] bugaevc commented on #757
Why do you think it's a problem in the decoder?

[2019-11-13 21:39] rhin123 commented on #757
Honestly I'm just making assumptions here, I'm pretty stumped on this one.

[2019-11-14 07:25] ADKaster commented on #776
Looks like either the message or the queue on line 108 of LibCore/CoreIPCServer.h is invalid when dispatching/posting a paint event to the dead process. Might try defining CIPC_DEBUG at the top of the file? Probably the extra data, when squinting at the mangled names it seems suspicious.

[2019-11-14 19:10] #771 closed

[2019-11-14 19:50] awesomekling opened #780 "Terminal: Triple-click should select the whole line"
Just like `GTextEditor` does :^)

[2019-11-14 22:40] rhin123 commented on #757
Oh I think I get it now, we don't support non-ascii characters. I guess we could replace these bad characters with `?` before we start rendering the website.

[2019-11-15 03:15] MWGuy opened #783 "LibC: Implement <sys/select.h>"
This file needs by openssl apps in [openssl package](https://github.com/SerenityOS/serenity/pull/781)

[2019-11-15 05:55] bugaevc commented on #757
We do support non-ascii characters, and we do replace characters we don't have glyphs for with ?s when rendering text:
https://github.com/SerenityOS/serenity/blob/cb5021419ea71d204effb65f604978c017dd813f/Libraries/LibDraw/Painter.cpp#L576-L592

[2019-11-15 07:04] ADKaster commented on #776
Looks like the window server is posting a message after a connection was destroyed?
Smells like some a data race.

[code]

Socket is -1 in the Connection destructor, and then the crash happens.

[2019-11-15 09:30] awesomekling commented on #783
What does this mean, specifically? There is already a `sys/select.h` in `LibC`.

[2019-11-15 11:21] supercomputer7 opened #785 "Flaw(s) when handling partitions"
As I mentioned in #760 we have some problem in the partition code.

I intend to replace parts of the code with something more flexible and advanced.
Also, Replacement of code is needed to allow adding AHCI support later, so we can search the appropriate partition (the partition specified in the boot commandline) from either an AHCI or IDE controllers then "sending" the found partition to the VFS l

[2019-11-15 12:22] #783 closed

[2019-11-15 16:11] supercomputer7 commented on #785
I might forget to fix that so I put this link here (if anyone is interested you're welcome to check it):
https://developer.ibm.com/tutorials/l-gpt/
Essentially, the GPT partition code I've written is functional but might break under some circumstances (if the partitioning tool is creating an Hybrid MBR rather a protective one). In the replacement of the partition code, we should replace the GPT id

[2019-11-15 20:03] #767 closed

[2019-11-15 22:58] #780 closed

[2019-11-16 08:39] danboid commented on #785
I suspect this is why df doesn't work properly.

[2019-11-16 11:40] supercomputer7 commented on #785
Well, I can't say for sure, but your reasoning is quite right since `df` requests valuable data from the partitions' layer (I didn't check the code to see if that's how actually df working, but I think it is fine to assume so).

[2019-11-16 11:44] awesomekling commented on #785
`df` basically only looks at the `ext2` superblock metadata at the moment

[2019-11-17 00:21] arraystock opened #791 "IRC Client Crashing"
Whenever I attempt to run the IRC client, it crashes. Log:
[code]

[2019-11-17 12:25] awesomekling commented on #791
Interesting, looks like a use-after-free in the TCP sockets code (`kfree()` fills freed memory with `0xaa`).

cc @deoxxa

[2019-11-17 20:10] boricj opened #792 "Run serenityos.org on Serenity"
Based on the HTTP response headers, the website of serenityos.org runs on Ubuntu+Apache. A cool dogfooding scenario would be to run this website with Serenity.

[2019-11-18 00:25] danboid opened #794 "Kernel: Implement WSTOPSIG"
I have got mksh (the MirBSD Korn shell) to compile for serenity, but it fails to link with these errors:

[code]

I can probably add some #defines to fix the setegid and seteuid errors (are they the same as setgid and setuid?) but I have no idea how to implement WSTOPSIG (in <sys/wait.h>) but I expect @awesomekling will be able to add it in next to no time as it should be a one-liner.

[2019-11-18 07:11] danboid commented on #792
Absolutely, but first we need stuff like a fully functional ifconfig, a network interface config file, DHCP support and of course a web server is going to help too.

[2019-11-18 12:01] MWGuy opened #796 "LibHTML: LibHTML/CSS/PropertyID.h not found."
When i build serenity with ``makeall.sh``, build failed on LibHTML. This fail because PropertyID.h file not generated automatically.

[2019-11-18 12:10] #796 closed

[2019-11-18 12:41] bugaevc opened #797 "make little overflows its stack"
Some recent changes must have broken GNU Make. Now, when I run `cd little && make` (make sure to either comment out the `mkdir()` call or `#include <sys/stat.h>` to make it compile), I get a bunch of `make: write error: stdout: Bad fd number` errors, then it overflows its stack and the new stack pointer validation code kills it.

Here's a stacktrace for the first time it calls `close()` on stdout:

[2019-11-18 13:41] awesomekling commented on #797
The breakage is probably from removing the `isatty()` syscall (because it's now implemented in userspace.)
Rebuilding the `make` port will probably work, but maybe there's more trouble here we can fix :)

[2019-11-18 14:01] danboid commented on #794
Might not be needed after all. I'll be trying this later:

[code]

[2019-11-18 15:14] bugaevc commented on #797
No, it seems unrelated to that. I'm seeing this from other programs in the log:
[code]
But not for `make`, which I have rebuilt.

[2019-11-18 15:33] bugaevc commented on #797
`prev_fail` is `EINTR`

[2019-11-18 18:59] #769 closed

[2019-11-19 00:04] danboid commented on #794
I got mksh to build but I just get the error:

[code]

[2019-11-19 07:47] danboid commented on #794
[mksh.tar.gz](https://github.com/SerenityOS/serenity/files/3862501/mksh.tar.gz)

@Redfoxymoon

[2019-11-19 11:11] danboid commented on #794
@Redfoxymoon - I haven't added the install target stuff to the script or Makefile yet so you'll need to manually copy the binary to your serenity disk.

[2019-11-19 13:07] #797 closed

[2019-11-19 16:35] informer2016 opened #801 "could SerenityOS fit on a floppy?"
Even today the floppies are still being used, for example - as virtual floppies inside the coreboot open source BIOS. Just imagine: your wonderful OS could be a part of someone's BIOS build! _(for coreboot supported motherboard, maybe you have or could get one - see https://www.coreboot.org/Supported_Motherboards )_

@awesomekling , If you already have a coreboot-supported motherboard, or a real c

[2019-11-20 07:01] danboid opened #804 "Add openssl / https support to Browser"
Now we have an openssl port we have the option of adding https support to Browser.

Is it too early for that Mr K? Feel free to close this if its issue spam but I think https support will encourage and enable more testing. Maybe we should get the .jpg and .gif support sorted first? Not sure how usable the web is without.

[2019-11-20 07:14] #804 closed

[2019-11-20 14:44] bugaevc commented on #757
This might have been fixed by https://github.com/SerenityOS/serenity/commit/5a04472470ecb76dec4bb16d22205b2f023a865d, please retest.

[2019-11-20 14:45] danboid commented on #223
I realise pthreads is still WIP but I built SDL2 for serenity with pthreads support enabled today. That built fine but when I tried to build nesalizer against it, this happened:

[code]

[2019-11-20 15:27] Quaker762 commented on #223
@danboid I haven't looked through the `pthread` implementation, but off the top of my head we have ~3-4 functions implemented, hence the undefines reference issues.

The `pthread_create` issue is a bit weird though. What are the ld/compile flags for nesalizer?

[2019-11-20 15:31] danboid commented on #223
Ooops!

I'd forgot to include -lpthread in the build flags. Here are the errors with that included:

[code]

[2019-11-20 21:27] danboid commented on #406
Tonight I tried building openssh, libssh and dropbear. dropbear came the nearest to building but we need better IP/ethernet header support before we can build dropbear - we currently don't have an ip.h.

[2019-11-20 21:27] #406 closed

[2019-11-20 21:39] danboid opened #807 "ip.h - (improved) IP support needed for dropbear SSH"
Tonight I tried building openssh, libssh and dropbear. dropbear came the nearest to building but we need better IP/ethernet (header/kernel) support before we can build dropbear and get an ssh client/server. I expect git, apache and nginx will have similar requirements.

https://matt.ucc.asn.au/dropbear/dropbear.html

[dropbear.tar.gz](https://github.com/SerenityOS/serenity/files/3873141/dropbear.t

[2019-11-20 21:58] danboid commented on #807
Look @Quaker762 ! Dropbears!

[2019-11-20 23:21] Pagghiu opened #808 "Building and running serenity under qemu on macOS host"
Hi,

I would like to build and run serenity under qemu but under a macOS host.

Any inputs on how to do it?

[2019-11-21 01:56] arraystock commented on #808
Hi, building on Mac is not supported (see ##597). However, you could do what I do and have a linux box setup with ssh and run qemu with the `-vnc :0` option to connect remotely.

[2019-11-21 02:21] Quaker762 commented on #734
@awesomekling ;)
![kernel_mapping](https://user-images.githubusercontent.com/4768900/69298393-c5e98d00-0c61-11ea-889f-321f14f5a8dc.png)

[2019-11-21 06:02] zaklaus opened #809 "LibMarkdown: Documents with CRLF line endings are handled incorrectly"
This is a continuation of the discussion led at https://github.com/SerenityOS/serenity/pull/805

The issue starts with
https://github.com/SerenityOS/serenity/blob/3df521e2b7066ac025b89744259614633086203a/Libraries/LibMarkdown/MDDocument.cpp#L50-L53
splitting the buffer by **LF**, which leaves the **CR** character at the end of each line, which leads to issue at:
https://github.com/SerenityOS/seren

[2019-11-21 06:54] danboid commented on #583
@tlmrgvf

[2019-11-21 06:54] danboid commented on #582
@tlmrgvf

[2019-11-21 06:59] danboid commented on #582
No longer a prob

[2019-11-21 06:59] #582 closed

[2019-11-21 07:02] danboid opened #810 "FileManager: directory view not updated after deleting files"
Files are still displayed in FileManager after deletion. You have to navigate out of the current directory view and back in to see the true current status.

[2019-11-21 07:02] danboid commented on #810
@tlmrgvf

[2019-11-21 07:06] danboid commented on #810
It seems like if we fix this and add the ability to delete directories, FileManager will be usable!

[2019-11-21 07:49] Pagghiu commented on #808
Ok, thanks for the information.

I got the GCC cross-compiler to work on the mac by modifying the build scripts, I will look into the successive steps. I think that there could be some value in patching the codebase to allow it being compiled on a non case sensitive FS, but for the time being I will try to create a dedicated case-sensitive volume. I have not been looking yet into how to mount ext2

[2019-11-21 09:21] DrewStratford commented on #810
I'm pretty sure that this is a bug in the InodeWatcher code. Currently, we don't properly update an InodeWatcher that's watching a directory, meaning that this code is never called: https://github.com/SerenityOS/serenity/blob/b0b523e973eb29a5dbf50b1995cbfca63b228a6c/Libraries/LibGUI/GDirectoryModel.cpp#L352-L358

Fixing this is quite easy but introduces a couple of new problems, mostly to do with

[2019-11-21 12:04] #810 closed

[2019-11-21 21:31] Pagghiu commented on #808
I have been able to compile everything on macOS, using the gcc cross-compiler, patching errors as I was going.
I have compiled the build support DevTools (like the IPCCompiler) using XCode clang.

Main issues are:

0. Replacing the only file that causes problems on non case-sensitive FS (String.h, renamed to CString.h and with a search&replace in the whole source tree to fix it)
1. A few GCC only

[2019-11-21 22:23] Pagghiu commented on #808
For some reason the WindowServer is not starting and so many components of the OS.
One thing I can read in the logs is:

`WindowServer(20): perror(): open: Invalid argument`

I will try to build under the vm and check any difference, it may just be a qemu under macOS behaving differently from the linux version.

[2019-11-22 05:57] ctfloyd opened #816 "DisplayProperties: Changing Screen Resolution Resets Wallpaper"
I'm not sure if this was intentional or there was some reasoning behind it, just bringing it to light. When you switch resolutions with a wallpaper set, the wallpaper gets reset to the default 'gray' wallpaper, despite still being able to set the wallpaper under the new resolution.

When we set the resolution in WSCompositor we set the wallpaper to null and clear its path. Commenting out these two

[2019-11-22 11:39] bugaevc commented on #809
I think the right way to go about this would be to add
[code]
that will do the right thing in presence of CRs, CRLFs and LFs, and use that in LibMarkdown and elsewhere where we have to split a file into lines (TextEditor...)

[2019-11-22 18:42] arraystock commented on #808
Nice! Would love to see the root fs build under Mac, but I don’t think it’s possible without major changes to scripts and the process and needing to install something like FUSE for macOS.

[2019-11-23 00:31] Pagghiu commented on #808
You're right, I've had to install:
- `FUSE` (brew cask install osxfuse)
- `fuse-ext2` (https://github.com/alperakcan/fuse-ext2) (for mount support)
- `e2fsprogs` (brew install e2fsprogrs) for mke2fs and add it to $PATH

I've also had to modify the build-root-filesystem.sh to have separate chmod, because macos `mknod` doesn't support the`-m umask` option.

Doing all of the above creates a bootable

[2019-11-23 04:27] RICKASHEYE opened #819 "Browser: Should be able to open http://theoldnet.com/"
http://theoldnet.com/ works on very old browsers i think it would be great to see it running on the serenity browser

[2019-11-23 13:37] danboid opened #821 "Terminal: MMB and SHIFT+INSERT paste"
You can no longer paste text with a simple right click in the terminal ala the Windows command prompt, it now brings up a context menu and so copy pasting text has become a longer procedure.

It would be nice if the serenity terminal/shell mimicked most xterms and let you paste text with a single click of the middle mouse button or pushing SHIFT+INSERT.

Is there any point in having to select 'cop

[2019-11-23 13:52] danboid opened #822 "wav playback waves goodbye"
Ah cannae play me choons Mr K!

[code]

[2019-11-23 13:52] #821 closed

[2019-11-23 14:05] danboid commented on #822
I was hoping to test the new mute icon, alas! No sound!

[2019-11-23 15:25] awesomekling commented on #819
Sure, that's a great suggestion :)

[2019-11-23 16:28] danboid opened #823 "Terminal: nano crashes terminal on opening"
If you run nano without maximising the terminal window first, it crashes the terminal.

[2019-11-23 16:30] danboid commented on #823
Also, nano (or ncurses) doesn't resize itself to fill a maximised terminal.

[2019-11-23 17:20] danboid commented on #823
@xeons

[2019-11-23 18:13] xeons commented on #823
These are known issues, but maybe i can start looking into these today.

[2019-11-23 20:54] danboid commented on #822
I'm presuming this is an issue with my qemu build. I'll re-open it if I can prove otherwise.

[2019-11-23 20:54] #822 closed

[2019-11-24 02:40] arraystock commented on #808
@Pagghiu I would love to see your fork of Serenity with these changes!

[2019-11-24 15:47] danboid commented on #823
It can't save fails either so it doesn't seem to be usable yet.

[2019-11-24 16:14] danboid opened #824 "Ports: cannot run configure scripts under bash"
bash is incapable of running (moderately) complex scripts such as gnu autoconf configure scripts. When trying to run a configure script under serenity's bash port, it usually only gets as far as:

[code]

[2019-11-25 01:18] danboid opened #825 "FileManager: tree view doesn't update after deleting directories"
The left pane of FileManager, the tree view bit, doesn't update itself after directories have been deleted, even if you collapse and re-expand the entire tree view of / .

To get a current and correct fs display in the tree view pane after deleting directories you have to close and re-open FileManager.

[2019-11-25 01:52] danboid opened #826 "FileManager: context menu options"
There are currently no context menu options when clicking in the left pane but it would be nice to be able to copy/paste dirs and create new ones within the tree view pane.

When you click on some whitespace in the right pane ie not on a file, dir or icon you still get the options 'Open in TextEditor' and Properties. IMO the only option that should be available in this scenario is 'Create new dire

[2019-11-25 09:33] Pagghiu commented on #808
Sure, I can create a fork with the changes.
I will cleanup the modifications a little bit and testing them on a clean macOS to be sure that everything works properly. 👍

[2019-11-25 20:54] awesomekling commented on #801
Being very small is not a goal here, sorry :)

[2019-11-25 20:54] #801 closed

[2019-11-25 23:22] Pagghiu commented on #808
Ok, the fork is online at:

https://github.com/Pagghiu/serenity/tree/build-macos

[2019-11-26 16:26] xeons commented on #823
So it looks like a lot of these problems are localized to ncurses. One of the issues I encountered was during the configure process, it doesn't detect sys/termios.h and I believe fails to build the SIGWINCH handling.

[2019-11-26 18:58] #610 closed

[2019-11-26 18:59] awesomekling commented on #791
Oh, oh, this was fixed by 61f611bf3cbdaa726a86c14524912ebff591d868

[2019-11-26 18:59] #791 closed

[2019-11-26 19:00] awesomekling commented on #272
cc @willmcpherson2

[2019-11-26 19:11] awesomekling commented on #770
Fixed by @ctfloyd in #784

[2019-11-26 19:11] #770 closed

[2019-11-26 19:13] awesomekling commented on #583
Fixed by till in 09189e34e3d3724a13cb4e476400f9cff6c83b88

[2019-11-26 19:13] #583 closed

[2019-11-26 19:16] awesomekling commented on #71
Fixed in 9c549c178a35934425e4e46be353f6e5e4f60b4f

[2019-11-26 19:16] #71 closed

[2019-11-26 19:17] awesomekling commented on #586
Cannot reproduce either. Please reopen if seen again obvs.

[2019-11-26 19:17] #586 closed

[2019-11-26 19:18] awesomekling commented on #757
Still crashes.

[2019-11-26 20:39] #66 closed

[2019-11-27 20:11] diversys commented on #808
@Pagghiu I tried your fork on macOS 10.14.6 and build fails with this:

[code]

[2019-11-27 21:58] Pagghiu commented on #808
That's an error in the fuse-ext2 installation script that I 99% copy/pasted from https://github.com/alperakcan/fuse-ext2.
It looks the same described here https://github.com/alperakcan/fuse-ext2/issues/89 but I am not sure if the issue linked explains it fully but you could give it a look.

The error actual source error happens before the piece of log you're pasting because it's not generating the

[2019-11-28 09:43] willmcpherson2 opened #829 "HackStudio: Terminal with 0 rows causes assertion failure"
Reproduce this bug by opening HackStudio, clicking Console and trying to resize it.

[code]

[2019-11-28 11:37] diversys commented on #808
Thanks, the following fixed it for me:
- Install Xcode
- Run sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

[2019-11-28 17:58] awesomekling commented on #361
This no longer happens. I'm not sure when it stopped, but hey, if it comes up again we can debug it then :)

[2019-11-28 17:58] #361 closed

[2019-11-30 19:23] danboid opened #831 "PaintBrush: Missing check marks in size context menus"
The check mark is missing from the context menus of the pen, spray or line tools that should show the current (width) setting.

[2019-11-30 19:28] danboid opened #832 "About: Show repo name, branch and commit version"
The serenity 'About' window would be more useful if it showed the repo / branch name and the commit version.

[2019-11-30 23:48] awesomekling commented on #832
Oh this is a great idea!

[2019-11-30 23:48] awesomekling commented on #831
Hmm yeah, that's a really poor UI.

[2019-12-02 03:18] gootik commented on #808
I was also able to build/run on macos using your fork. Well done!

[2019-12-02 08:21] #832 closed

[2019-12-02 09:07] Pagghiu commented on #808
excellent!
I will rebase the branch every once in a while, to stay up to date with latest master ;-)
@awesomekling would you be interested into a pull request to allow for official macos support?

[2019-12-02 10:13] awesomekling commented on #808
Sure why not :)

[2019-12-02 12:52] #809 closed

[2019-12-03 07:07] FilipeChagasDev opened #845 "Error compiling Generate_CSS_PropertyID_cpp.cpp: No such file or directory AK/JsonObject.h"
I am getting this error when trying to compile your project with Kernel/makeall.sh:

``
Generate_CSS_PropertyID_cpp.cpp:1:10: fatal error: AK/JsonObject.h: No such file or directory
 #include <AK/JsonObject.h>
          ^~~~~~~~~~~~~~~~~
compilation terminated.
Makefile:27: recipe for target 'Generate_CSS_PropertyID_cpp.o' failed
make: *** [Generate_CSS_PropertyID_cpp.o] Error 1
make: Leaving dire

[2019-12-03 11:50] #825 closed

[2019-12-03 12:12] danboid commented on #845
Sounds like you've not `source`d the UseIt.sh from the Toolchain

[2019-12-04 09:39] FilipeChagasDev commented on #845
I had done it, but it didn't work. But the problem is already solved. When I run "source UseIt.sh" and "./makeall.sh" as root, it works. Before that, I didn't try to run as root.

[2019-12-04 09:39] #845 closed

[2019-12-04 21:03] endrift opened #850 "LibC: PRIxPTR/PRIXPTR missing"
See https://github.com/SerenityOS/serenity/blob/master/Libraries/LibC/inttypes.h, compare with https://en.cppreference.com/w/c/types/integer

This is the cause of mgba-emu/mgba#1592

[2019-12-05 07:08] Quaker762 commented on #845
I had this issue a few weeks ago. There was an issue with it not finding one of the `<AK>` headers right?

[2019-12-05 09:19] danboid commented on #850
Thanks for sparing me filing another issue @endrift ! It would be very cool to see mgba running under serenity.

[2019-12-05 16:08] #108 closed

[2019-12-05 22:14] #819 closed

[2019-12-06 00:03] danboid opened #853 "LibC: fenv.h and fseeko missing (needed for hatari Atari emulator)"
hatari emulates the Atari 16/32 bit machines such as the Atari ST and Falcon. Its only real dependencies are SDL2 and zlib so there is a good chance it will run under Serenity with our existing set of ports. I've just spent the best part of a day trying to get it to build only to discover it requires fenv.h (floating point data types) and fseeko. Serenity has fseek but not fseeko. Hopefully those

[2019-12-06 00:16] danboid commented on #853
If anyone else is interested in emulators under serenity, the ones I've found that are closest to working are:

nesalizer - NES emulator. Ported and building, awaiting finished pthreads
dosbox SDL2 - Not managed to get configure to find serenity's SDL - probably an easy fix?
emudore - C64 emu. README claims it is single threaded but code needs C++ thread support...
mednafen - Seems more likely to

[2019-12-06 00:33] danboid commented on #853
@Quaker762

[2019-12-06 00:42] danboid commented on #850
Here's the source port:

[mgba-serenity.tar.gz](https://github.com/SerenityOS/serenity/files/3929792/mgba-serenity.tar.gz)

[2019-12-08 18:58] awesomekling commented on #223
The `LibPthread` library is growing little by little. FWIW it's now good enough to support the SDL threading functionality :)

[2019-12-08 20:59] danboid opened #861 "Closing nesalizer window doesn't stop its threads"
When I close the nesalizer window, the sound continues to play and I can still see multiple nesalizer threads running under systemmonitor, which I have been unable to kill either via the 'kill' context menu option for the various threads nor by running `killall -9 nesalizer`

[2019-12-08 23:33] Quaker762 commented on #861
This is an issue with SDL not making a call to `exit()` iirc. I'll make a fix today :)

[2019-12-09 03:33] danboid commented on #850
PS @endrift - NES games are now playable with sound under serenity via the nesalizer port

[2019-12-09 14:15] danboid opened #865 "LibC: MS_SYNC (from mman.h) is missing"
After adding a definition for PRIXPTR, I now get as far as this when trying to build mgba:

[code]

Here is the current port:

[mgba-sos.tar.gz](https://github.com/SerenityOS/serenity/files/3940032/mgba-sos.tar.gz)

[2019-12-09 18:24] remyabel commented on #826
I'm currently working on adding the context menu to the FileTree, but code duplication seems to be a problem. I would like to do this:

[code]

But you would have to add state to `GAction` or allow `GAction` to accept parameters, otherwise the code ends up looking like this:

[code]

Essentially all the actions have to be written to be view/model-agnostic.

Thoughts?

[2019-12-09 18:43] danboid commented on #850
Closed via https://github.com/SerenityOS/serenity/commit/91fc6a056b61c1c7aba3bf3a4f0df9dcec91a836

[2019-12-09 18:50] #850 closed

[2019-12-09 18:51] endrift commented on #850
PRIxPTR and PRIoPTR are still missing btw.

[2019-12-09 18:52] danboid commented on #850
Does mgba use both of those?

[2019-12-09 18:55] endrift commented on #850
No, but they're part of the spec.

[2019-12-09 19:02] danboid opened #866 "Add std::thread to toolchain"
Might std::thread get added to the Toolchain now, or is LibThread intended to be used instead?

[2019-12-09 21:10] Matrix89 opened #867 "When you change the resoultion the top bar doesn't recalculate position of the items on the right"
What happens
-
When you change the resolution items on the right in the top bar stay in place instead to moving to the new edge of the screen.

What should happen
-
Applets, Clock, and the username label should get moved to the new position

Steps to reproduce
-
Go to `Display Properties` and change the resoultion.

[2019-12-10 03:39] remyabel commented on #826
@awesomekling Thanks for the previous commit, but I don't think it solves my problem. I would think it works like this:

[code]

(Assume I've already added code for `is<GAbstractView>`)

However, this code will not succeed because the `activator()` can tell you which button or menu activated the action, but not which view. Let me know if I'm approaching this problem the wrong way.

[2019-12-10 06:53] remyabel commented on #826
Nevermind, I see I can do something like this:

[code]

Still feels like I'm not quite approaching this the right way. I'll report back if I have success, but suggestions welcome.

[2019-12-10 11:01] awesomekling commented on #826
You can just compare against the menu pointer:
[code]

[2019-12-10 11:03] awesomekling commented on #826
That said, what if it's activated via the global keyboard shortcut?
Then the context should be whichever view has focus..

[2019-12-10 11:13] remyabel commented on #826
Thanks.

Yeah, this feature was deceptive and not as simple as I thought it would be. I've pushed my WIP branch so you can take a look but I'm taking a break for now.

https://github.com/remyabel/serenity/commit/9f2ab186d541b958796f5763ce3f771cb280865d

One thing I noticed is that my original approach doesn't make sense since `GDirectoryModel` and `GFileSystemModel` are different so there's still

[2019-12-13 10:41] danboid opened #877 "SDL2: mouse support"
The current SDL2 port doesn't have mouse support.

Mouse support would improve Quake and make ports of things like Milkytracker and OpenTTD possible. It will also be handy when we get DOSbox and Hatari to build.

[2019-12-13 10:42] danboid commented on #877
@Quaker762

[2019-12-13 11:09] danboid commented on #877
There are a few good SDL trackers apart from Milkytracker, such as the FastTracker2 clone by Serenity user 8bitBubsy:

https://16-bits.org/ft2.php

I found this too which requires mesa/OGL but that is something that will need to be ported to Serenity too eventually:

http://www-personal.umich.edu/~jcorkery/downloads/utils/coewave.html

[2019-12-13 12:09] Quaker762 commented on #877
I'll get on it ASAP Dan :P

[2019-12-13 12:11] danboid commented on #877
Thanks Quaker!

[2019-12-13 19:34] xTibor commented on #877
Also don't forget to port [Schism Tracker](https://github.com/schismtracker/schismtracker) for Impulse people.

[2019-12-15 04:07] remyabel commented on #826
Is this fixed now?

[2019-12-15 12:33] danboid commented on #826
I originally suggested adding a context menu to the tree view but I'm not so sure that is really necessary or that useful now. All the other issues are fixed so I'm closing this.

[2019-12-15 12:36] danboid commented on #826
Ooops!

I just re-read this issue and noticed that @remyabel commited support for a context menu in the tree view but that isn't working for me.

[2019-12-15 12:38] danboid commented on #826
Maybe I should open a separate ticket but shouldn't we also show files in the tree view and not just directories?

Whaddya think @awesomekling and @remyabel ?

[2019-12-15 13:13] supercomputer7 opened #879 "High CPU usage when traversing in ProcFS"
How to reproduce:
1. Open the File Manager.
2. Go to /proc. Try to open a sub-directory.
3. The CPU usage meter should go up.

Cause:
[code]
_(Lines 966-968) in ProcFS.cpp_

The reason for that is really simple. Each time you create an inode in the system, the InodeWatcher is invoked, thus making it possible for building a "uevent"-like mechanism, so the File manager doesn't need to poll for chang

[2019-12-15 14:42] remyabel commented on #826
What isn't working? You should be to right-click the directories in the tree view and a context menu will appear. I originally thought about having a context menu appear if you click *no* directory, but then I realized this logically makes no sense since you want to have a parent directory selected when creating a new one.

If no one already tackles it, I'll look into it.

[2019-12-15 14:52] remyabel commented on #826
I just pulled the latest changes from master and you're correct it no longer works. Since @awesomekling made the new changes I'll defer to them.

[2019-12-15 18:49] #879 closed

[2019-12-15 19:27] awesomekling commented on #867
Fixed by @asliturk in 26c5d26045d842d1db77d8f63f4062a58119b47d

[2019-12-15 19:27] #867 closed

[2019-12-17 15:33] DrewStratford opened #884 "mmap fails when given non-null address."
`mmap` typically fails when passed a non-null pointer as its first parameter.
I believe that this is because `sys$mmap` calls this:
https://github.com/SerenityOS/serenity/blob/ac20919b13f82ea9f8d59fe1f34054b7060a96df/Kernel/VM/RangeAllocator.cpp#L94
which fails when given a virtual address that is not in `m_available_ranges`. This is an issue because a pointer obtained via malloc or a global varia

[2019-12-18 06:16] bugaevc commented on #884
Why would you expect to be able to map something over malloc or static memory?

[2019-12-18 08:45] DrewStratford commented on #884
Haha, it seems that I've misunderstood `mmap` somewhat.

Though, if we cant make the mapping with the given address we should still attempt to to find another location. The man page says that the `addr` parameter is only to be used as a hint.

[2019-12-19 15:46] danboid commented on #866
Could just be a case of adding

[code]

To UseIt.sh

[2019-12-21 14:08] benjif opened #891 "Piano: Assertion failure on exit with new Queued thread state"
The new `Queued` thread state introduced in https://github.com/SerenityOS/serenity/commit/5859e16e53e363b8d9424dfa3f19429b5673abbb somehow causes the Piano application to emit an assertion failure when exited.

[code]

[2019-12-21 21:14] supercomputer7 commented on #891
Presumably what's happening is that we try to wake a dead thread, thus crashing the OS by doing that.
We need some sort of safety check before just waking up threads that are registered in the WaitQueue...

[2019-12-21 21:32] awesomekling opened #892 "TextEditor: Ask before opening something when the current document is dirty"
Right now we just throw away the changes and open the new file.

[2019-12-22 08:25] bugaevc commented on #891
Rather, a thread should unregister itself from any queues when dieing

[2019-12-22 09:55] Mcpg commented on #892
With PR #893 merged this issue can be now closed, right?

[2019-12-22 09:56] awesomekling commented on #892
Oh right! Yes :)
Next time you can put "Fixes #893" in the commit message and that will happen automatically.
I should have noticed, that's my bad! Thanks for the fix!

[2019-12-22 09:56] #892 closed

[2019-12-22 11:43] awesomekling commented on #884
Hmm, fair enough, it's only a hint. Unless `MAP_FIXED` is specified, then it's `addr` or bust.

[2019-12-22 11:43] #891 closed

[2019-12-22 15:35] awesomekling commented on #861
Fixed here https://github.com/SerenityOS/SDL/commit/0839392091adf05734f7ab2b698c4343239d6c93

[2019-12-22 15:35] #861 closed

[2019-12-22 16:20] awesomekling commented on #776
I think this issue may have gone away with the IPC rewrite.

[2019-12-22 22:15] awesomekling commented on #547
Fixed in 449ebbddb6480356758228bf475e4d6a347957f2

[2019-12-22 22:15] #547 closed

[2019-12-23 10:35] bugaevc opened #897 "GCC picks up wrong crt0"
When linking executables, GCC seems to pick up the `crt0.o` installed into `Root/usr/lib/`, not the one built in `Libraries/LibC`.

This can cause weird linking errors, e.g. right now I'm getting
[code]

because https://github.com/SerenityOS/serenity/commit/824bbc7462290e4eb1c527c6f185438c357a11aa has added `__cxa_finalize()` which LibC now wants, but the previously built version of `ctr0`doesn't

[2019-12-23 12:16] willmcpherson2 opened #899 "Piano: Segfault on exit"
To reproduce:
Play a lot of notes and close the window while audio is still playing. This is difficult to reproduce, but it seems to happen when the audio buffer is full, so try turning on delay. This bug is especially bad for the piano roll #898

[code]

[2019-12-23 12:22] bugaevc opened #900 "Global GWindow destruction race"
https://github.com/SerenityOS/serenity/blob/456a4bc1089320a4fa0aed7d3588ecb62f90c2eb/Libraries/LibGUI/GWindow.cpp#L18-L41

This now crashes with

[code]

This looks like `all_windows` gets destructed before HackStudio's `g_window`.

[2019-12-23 12:35] bugaevc commented on #897
UPD: I did.

[2019-12-23 15:22] jcs commented on #897
The `all` step of `LibC` installs it to `Root` right after building, how did you build in `LibC` without it getting into `Root`?

[2019-12-23 15:55] bugaevc commented on #897
Hmm, indeed.

`make install` happened not to work for me (see above).

This sounds like all the executables should have a dependency on `crt0.o`, and `Root/usr/lib/crt0.o` should depend on LibC's `install`. Then Make will do the right thing.

[2019-12-24 05:33] ADKaster commented on #897
Hmm. It could be that __cxa_finalize and __cxa_atexit don't belong in crt0.o and should be in a different LibC .cpp file. I had a peek at the ol glibc sources and they seem to have a separate file for each. A cursory look at stack overflow suggests that crt0 is intended for the bare minimum startup code to get to main()

[2019-12-24 13:31] lionkor commented on #776
I was not able to reproduce the issue at all anymore, so I'd consider it fixed!

[2019-12-24 14:46] bugaevc commented on #89
I believe this was fixed in 2d18fc8052eefbbee04b61d6308b5400118209f1 :)

[2019-12-24 14:52] bugaevc commented on #397
093961d2d935b189861f86d2f805ac31c23377f9 and ecdaf991c623ec929ec054531e6519f50ca9c060

[2019-12-24 14:53] bugaevc commented on #558
This was probably fixed in 1e1ddce9d8f94dd220174755925cb8d7f03ef36a

[2019-12-24 14:55] bugaevc commented on #665
This is actually prevented now, perhaps somewhat unintentionally. The WindowServer expects to receive a socket from the SystemServer (so you cannot just run it from the Shell), and the SystemServer makes sure to only spawn one copy of each service at a time.

[2019-12-24 14:56] bugaevc commented on #666
Guess this is implemented now :wink:

[2019-12-24 18:27] awesomekling commented on #666
Oh yeah I guess so :)

[2019-12-24 18:27] #666 closed

[2019-12-24 18:28] awesomekling commented on #665
Good point @bugaevc. Let's close this.

[2019-12-24 18:28] #665 closed

[2019-12-24 18:28] awesomekling commented on #558
Agreed.

[2019-12-24 18:28] #558 closed

[2019-12-24 18:29] awesomekling commented on #89
Oh heck yeah. Thanks for finding all of these :D

[2019-12-24 18:29] #89 closed

[2019-12-24 23:15] MWGuy opened #913 "LibC: Implement fgetpos and fsetpos"

[2019-12-25 12:19] #776 closed

[2019-12-26 05:49] OhadRau opened #919 "Dragging events don't work on slow PCs"
Not sure what the exact reasoning is, but I'm running serenity inside of a Linux VM so the overhead of 2 VMs seems to be enough to take its toll here... Resizing/moving windows and dragging in the file manager release after ~1 frame. Can post a gif if needed & will continue investigating

Some related issues:
* holding down keys doesn't work
* multiple keys at once aren't working, so you can't use

[2019-12-26 20:06] shannonbooth opened #922 "Kernel: SIGINT / SIGTSTP in Shell causing Kernel to assert"
Testcase `Userland/test.cpp`

[code]
Run `test` and then `^C` / `^Z`. The kernel will assert: `ASSERTION FAILED: found_thread`

[code]

[2019-12-26 21:15] #900 closed

[2019-12-26 21:23] #922 closed

[2019-12-26 23:52] #375 closed

[2019-12-27 05:42] VKoskiv opened #927 "Tweaks required to build on macOS"
I got it to build fairly easily under the latest macOS `(Catalina 10.15.2)`, but a few little details need fixing:

- ~AK is built using `-Werror`, so it fails to build because there are unused parameters in `AK/SinglyLinkedList.h`. I'm going to file a PR to remedy this, it's a simple fix.~ **Resolved by 5d1acdda**

- The build system forgets to compile IPC for `Servers/ProtocolServer`. I'm not en

[2019-12-27 07:43] diversys opened #929 "binutils: build fails on macOS"
This is d1c16944ce8aed363ecd44e70acb9ceccb1d4a8d on macOS 10.14.6.
Running BuildIt.sh fails at the beginning of building binutils-2.33.1

[code]

[2019-12-27 08:37] Pagghiu commented on #929
What version of Xcode are you using?

[2019-12-27 08:43] diversys commented on #929
Version 11.3 (11C29)

[2019-12-27 08:44] Pagghiu commented on #927
I have been experiencing the ProtocolServer IPC issue as well.
The reason is that `Browser` depends on ProtocolServer but there is no dependency specified for it in the makefile.

[2019-12-27 13:10] diversys commented on #929
Deleted Local and a few other folders and it built successfully. Looks like it was using something from my last build attempt a few weeks ago before gcc update.

[2019-12-27 13:10] #929 closed

[2019-12-27 22:09] #913 closed

[2019-12-28 05:16] xTibor opened #941 "TextEditor: Relayout on font change"
Changing the font in the TextEditor doesn't update the line widths and heights of the text widget until the first key press.

[2019-12-28 11:35] danboid opened #943 "Paintbrush: Palette colours not displayed"
Non of the colours in the palette are currently displayed, just rows of empty boxes.

[2019-12-28 16:49] Pagghiu commented on #927
I think commit b1a8ca211f8c6fad9408e8b82bba52bbc93868ff does not fix the second issue here reported, as my comment was not accurate enough 👀 .
The makefile dependency should be added to `LibHTML`, used by `Browser`, because the build fails when compiling `ResourceLoader.cpp`, that is part of the first library.

[2019-12-28 21:13] JonArcherII opened #948 "Kernel/TCP: Browser causing OOM"
Open up the browser, traverse to Serenity's 1st birthday page, then scroll around for a while. After a little bit the system will freeze. (Trimmed) Log:
[code]

[2019-12-28 21:15] arraystock commented on #927
Now we just need [flock](https://github.com/discoteq/flock) 😉

[2019-12-28 21:20] arraystock opened #949 "Audio Widget is Unclickable"
Upon clicking the audio widget, nothing seems to happen. The icon stays the same, etc.

[2019-12-28 23:50] awesomekling commented on #948
cc @deoxxa
Looks like something went wrong in the TCP implementation.

[2019-12-28 23:52] #943 closed

[2019-12-28 23:59] Pagghiu commented on #927
Done, tested and sent a PR #951 😄

[2019-12-29 14:50] willmcpherson2 opened #956 "PS2Mouse: Keypresses cause incorrect mouse position"
Pressing a key while moving the mouse quickly results in an incorrect cursor position
This is logged:
[code]
Having this fixed will be good for future Piano features.

[2019-12-29 20:20] #949 closed

[2019-12-29 22:01] #884 closed

[2019-12-29 22:04] #941 closed

[2019-12-29 22:07] awesomekling opened #957 "Terminal: Selection should follow history scrollback"
When scrolling back through history in `Terminal`, any selection stays visually in the same place.

Instead, the same text should be selected, and it should also be possible to copy text from the scrollback history, not just from the "current" terminal buffer.

[2019-12-29 22:12] arraystock commented on #9
`make -C DevTools/VisualBuilder`...

[2019-12-29 22:15] awesomekling commented on #757
This no longer crashes. Not sure when it was fixed.

[2019-12-29 22:15] #757 closed

[2019-12-29 22:18] arraystock commented on #808
I suppose this may be closed now?

[2019-12-29 22:27] JonArcherII opened #958 "Opening ChanViewer Immediately Results in an Assertion Failure"
Seems to happen in the JSON parser.

[code]

Full log:
[code]

[2019-12-29 22:35] awesomekling commented on #958
cc @deoxxa
Suspect this is the same as #948
Looks like more TCP badness. Could it be out-of-order packets?

[2019-12-29 23:19] Pagghiu commented on #808
Yes, I think so 😃
I am still trying to stay up to date with things that break the macOS build every once in a while, but we will eventually open dedicated issues / PR on a case by case basis.

[2019-12-29 23:19] #808 closed

[2019-12-30 15:14] xTibor opened #962 "Inspector hangs and crashes WindowServer"
This is a kinda a two-in-one bug.

**Reproduction:**

1. Open Terminal
2. Run `ps` and check the process ID of `ps`
3. Run the Inspector with `ps` process ID + 1 (the ID what's going to be the Inspector's ID)
4. [Bug 1] Inspector hangs, cannot inspect itself.
5. Click and hold the left mouse cursor inside Inspector's frozen window and flail around for 10 seconds. Other methods that sends events to

[2019-12-30 15:46] bugaevc opened #963 "LibHTML should respect system theme"
The default colors (unless overridden with CSS) of background, text, links, list markers, etc. should follow the system theme.

Otherwise we end up with pages looking like this:

![image](https://user-images.githubusercontent.com/10091584/71589082-abde7c80-2b34-11ea-9024-c8118d75bd5b.png)

[2019-12-30 16:07] xTibor commented on #963
https://www.w3.org/TR/2018/REC-css-color-3-20180619/#css2-system

Implementing this part of the CSS spec would be the way to go.

[2019-12-30 16:13] bugaevc commented on #963
Sure, we could also let the webpages tap into this and try to use system theme colors themselves. But I'm primarily interested in ones that don't override background and foreground colors (and only use CSS for things like spacing and positioning). So what I'm saying is _the defaults_ that LibHTML applies should be consistent with the system theme.

[2019-12-30 18:59] ADKaster opened #964 "Kernel: mprotect should allow page-level access bits"
The current implementation of mmap/mprotect allocates one Region for the mmap call, and RWX can only be set on the entire region at once.

For uses like loading an ELF image into contiguous memory, it might be useful to mprotect with page granularity instead of regions. In fact, the man page for mprotect on linux (for glibc anyway) shows that Linux supports this type of protection in its example.

[2019-12-30 19:05] awesomekling commented on #964
For what it's worth, `munmap()` already supports region splitting if you call it to unmap a partial range.

It probably wouldn't be terribly horrible to take that code and factor it into something reusable :)

[2019-12-30 19:10] ADKaster commented on #964
Related to #175

[2019-12-31 09:17] shannonbooth opened #970 "Kernel: Assert on symlink path resolution on paths ending with "/""
e.g
[code]
Giving
[code]

[2019-12-31 13:58] xyproto opened #973 "Piano: some combinations can't be pressed"
Pressing and holding `S F H O L` reveals that they can't be pressed together. The first 4 keys work, but not the final `L`.

`A S D F G` works, so five keys at the same time should work.

This is running SerenityOS 1.0-dev, master@5b1f8ce2.

Thanks for creating this fun OS!

[2019-12-31 14:02] xyproto opened #974 "VisualBuilder: changing the text of a button crashes the application"
Adding a button and then changing the text to "OK" (or any other text) makes VisualBuilder crash and the window disappear.

This is running SerenityOS 1.0-dev, master@5b1f8ce2.

Thanks for creating this fun OS!

[2019-12-31 14:11] danboid opened #975 "Ports: Add cmake support to ports / Milkytracker"
cmake is probably the second most popular build system for open source developers after autoconf so it would be great to see it supported by the Serenity ports script. One example of an app that I have got to build (but not link) with the Serenity toolchain that uses cmake is Milkytracker (
[milkytracker-serenity.tar.gz](https://github.com/SerenityOS/serenity/files/4012814/milkytracker-serenity.ta

[2019-12-31 14:20] xTibor commented on #973
Sounds like a hardware limitation of your keyboard. Standard matrix keyboards tends to behave like this. Could you test if this occurs outside Serenity, like this test site?

http://gadzikowski.com/nkeyrollover.html

[2019-12-31 14:28] xyproto commented on #973
The issue also appears at the `nkeyrollover` site. How peculiar! I guess this is an issue with my keyboard.

Thanks for troubleshooting. I'll just close this issue, then.

[2019-12-31 14:28] #973 closed

[2019-12-31 14:30] xTibor commented on #975
Try to bump the minimum required CMake version to 3.4 or above. I've hit this `-rdynamic` error several times before while porting things to Redox.

[2019-12-31 14:44] danboid commented on #975
Hi @xTibor

I thought that was a bit of a whack suggestion but sure enough, I bumped the minimum cmake version to 3.4.0 and that error has been replaced with:

[code]

[2019-12-31 14:46] xTibor commented on #975
By the way this is the rationale behind that bump: https://cmake.org/cmake/help/v3.6/policy/CMP0065.html

[2019-12-31 14:49] danboid commented on #975
Thanks! I tried several things trying to get rid of that -rdynamic error, I never expected bumping the minimum version would do it.

[2019-12-31 14:51] danboid commented on #975
OK so it seems its trying to link against SDL on the host instead of the Serenity one now, shouldn't be hard to fix that.

[2019-12-31 18:08] danboid commented on #975
I think this is a bit closer but still doesn't build. This update of the port links to the Serenity SDL library and attempts to build a statically linked binary but still fails to link:

[code]

[milkytracker-serenity-2.tar.gz](https://github.com/SerenityOS/serenity/files/4013246/milkytracker-serenity-2.tar.gz)

[2019-12-31 19:11] ADKaster commented on #975
Looks like it's trying to link libdl, which isn't implemented in serenity yet (soon (tm) ). So something in that application is trying to dynamically load a library at runtime? Or at least access symbols in one of the libraries it expects to be dynamically linked to.

[2019-12-31 22:20] jcs commented on #897
Is this still an issue?  The building for LibC is different now.

[2019-12-31 22:24] jcs commented on #13
#954

[2019-12-31 22:29] jcs commented on #403
#971

[2019-12-31 22:35] jcs commented on #556
@danboid can this be closed now?  It appears to highlight the current resolution for me now.

[2020-01-01 01:47] DrewStratford commented on #956
I had a look in `PS2MouseDriver.cpp` and found that, despite succeding this check: https://github.com/SerenityOS/serenity/blob/8602fa5b49aa4e2b039764a14698f0baa3ad0532/Kernel/Devices/PS2MouseDevice.cpp#L50-L52
we're still occasionally reading errant keyboard data into the mouse driver. This seems pretty odd and I can't really work out why it would be happening. Maybe there's some sort of race cond

[2020-01-01 04:38] JonArcherII opened #979 "Sanitizing Kernel Pointers (Discussion?)"
As pointed out (and worked on a touch) in one of @awesomekling's [latest videos](https://www.youtube.com/watch?v=nH4p2-f3Upg), we need to start sanitizing pointers.

One method is to directly cut out all of the code that prints pointers, however then we will have a harder time debugging stuff.

Another method is to have a preprocessor definition (something like `SANITIZE_KERNEL_POINTERS`) and wrap

[2020-01-01 06:32] bugaevc commented on #897
¯\\\_(ツ)\_/¯, probably not, it's been building fine for me recently. We'll know next time crt0 changes, I guess.

[2020-01-01 06:32] #897 closed

[2020-01-01 08:28] xVHY opened #980 "Error when building Serenity toolchain"
After cloning and running BuildIt.sh I get the following error.
[code]

[2020-01-01 08:42] xVHY commented on #980
I tried cloning straight into home, building it there works perfectly, closing.

[2020-01-01 08:42] #980 closed

[2020-01-01 10:10] danboid commented on #556
Nope. The currently selected res is highlighted now but not the current wallpaper.

Also, there is still a load of unused space at the bottom of the window which looks messy.

[2020-01-01 10:52] diversys opened #981 "binutils: build fails on macOS: library not found for -liberty"
[code]

[2020-01-01 14:14] Pagghiu commented on #981
I think this issue is connected with #947
I would suggest:
1. Try complete clean rebuild first
2. If 1. doesn't work try modifying the `BuildIt.sh` script this way, adding explicit build of libiberty after first make fails
[code]

[2020-01-01 15:16] marprok opened #983 "Specify the exact gcc version to compile Serenity."
There should be an easy way to specify the compiler version that someone wishes serenity to compile with.
I tried to change the CXX flag on the Makefile.common to be equal to CXX = $(PRE_CXX) g++-9 but I got the following compiler errors(see [logs.txt](https://github.com/SerenityOS/serenity/files/4014185/logs.txt)). The OS is linux and the distro is linux mint 16.04 Serena. I installed gcc-9 via t

[2020-01-01 19:39] jcs opened #989 "backtraces are no longer working"
`dump_backtrace` in a userland program and the Stacks tab of System Monitor don't show anything other than `Scheduler::switch_now`.

In `dump_backtrace_impl`, `recognized_symbols` does not get populated, probably from `current->process().validate_read_from_kernel` not allowing what it should/used to.

[2020-01-02 01:17] #989 closed

[2020-01-02 06:21] diversys commented on #981
This seems to have fixed it, thanks!

[2020-01-02 06:33] ADKaster opened #995 "Toolchain: BuildPython.sh no longer works with new build system"
https://github.com/SerenityOS/serenity/blob/9b516e3fb4e92c2ffb2dd230ab0d8f78a8c12bf0/Toolchain/BuildPython.sh#L24

This guy still references the removed UseIt.sh script.

I think the purpose of this build step was to build the exact same host python version (down to the z in x.y.z ?) that the port of python in Ports/Python3 is trying to build? I tried messing with it for a bit but I'm not sure tha

[2020-01-02 08:12] supercomputer7 commented on #403
#971 has been merged. Currently we can't interpret yet any AML bytecode but that's OK, we will get to this later on :)
Anyway, SerenityOS has some sort of ACPI support now, which is really nice.
For now, we can close this issue :)

[2020-01-02 08:12] #403 closed

[2020-01-02 11:37] diversys opened #997 "multiple definition of `errno';"
[code]

[2020-01-02 13:58] supercomputer7 commented on #997
Please see #988. You need to rebuild the toolchain.

[2020-01-02 14:19] awesomekling commented on #997
Yes indeed. Anyone who is seeing this error needs to rebuild their toolchain :)

[2020-01-02 14:19] #997 closed

[2020-01-02 14:46] diversys opened #999 "CRASH: Page Fault. Kernel: init_stage2(1)"
This is 7cdfb9c6b4b1470a6d27ebb1817614df864aa782 on macOS 10.14.6 with Qemu 4.2.0:

[code]

![image](https://user-images.githubusercontent.com/1316513/71672656-b6dd1b00-2d87-11ea-804a-b1833e18def7.png)

[2020-01-02 18:59] JamiKettunen opened #1000 "CRASH: VM runs out of supervisor physical pages with open applications"
When you launch a lot of programs (or set a higher resolution like 1920x1080 and launch even a couple at times) supervisor physical pages will start getting scarce until the system freezes. I assume this is because of the double-buffered window bitmaps taking up a lot of memory or the size of supervisor physical page area is simply small (1 MB currently, >50% already used on boot with just system

[2020-01-02 20:32] Pagghiu commented on #981
Excellent! I'm not 100% sure if I should file a PR with this change, it's a little bit strange that nobody else is reporting this issue.
It could depend on your specific configuration (installed `brew` packages etc.).

Let's wait a little bit to see if anybody else will be hitting the same issue ;)

[2020-01-03 00:28] ADKaster commented on #964
Partially implemented with #965

[2020-01-03 06:12] cernec1999 commented on #999
I am getting the same issue. I am also using MacOS 10.15.1 and QEMU 4.2.0. I am on 889ecd1.

I ran into this issue after attempting to install some ports (binutils, gcc, make) so I could the custom IDE. I did not have this issue before installing these three ports.

I have a similar kernel output, but I also have some errors that are output when I rebuild the filesystem. These errors lead me to be

[2020-01-03 09:29] diversys commented on #999
Somehow I think they could be not related. I didn't see any Input/output errors during cp. And running ./run booted OS no problem in my case.

[2020-01-03 10:50] Quaker762 commented on #1000
@awesomekling Would it be best to give the Kernel more pages? If people start running at higher resolutions like @JamiKettunen it'll definitely pose an issue in the future.

[2020-01-03 11:49] Pagghiu commented on #999
Yes, I think @cernec1999 issue is different, so it makes sense to open a separate issue regarding that.
Some packages in the `Ports` are not getting copied correctly because of FUSE issues on macOS and this can cause creation of "half-complete" image, that can cause random errors like this one.
One easy way of building the RootFS without using macOS FUSE is to do it in a docker container.
I will t

[2020-01-03 13:27] xTibor commented on #956
This may even be some QEMU quirk. I built a VirtualBox image out of curiosity and the PS/2 stuff works rock solid there. No keyboard data passed to the mouse IRQ no matter how I torture it.

[2020-01-03 13:30] willmcpherson2 commented on #956
Thanks for the info guys

[2020-01-03 13:47] xTibor commented on #956
We may be hitting this bug? Would worth a shot trying to reproduce this with qemu-master.
https://lists.gnu.org/archive/html/qemu-devel/2018-05/msg03286.html

[2020-01-03 13:56] awesomekling commented on #1000
Yeah we won't be able to live with only 1MB of supervisor physical pages forever.

For reference, the supervisor physical pages are used by the paging code. They have the pleasant property that they are all identity mapped, which makes it very easy to work with them in the paging code (which also currently assumes that virtual==physical throughout.)

We need to refactor the paging code to support

[2020-01-03 14:54] cernec1999 opened #1007 "macOS Fuse Errors When Copying Ports"
_Originally posted by me in https://github.com/SerenityOS/serenity/issues/999#issuecomment-570474783_

I am using MacOS 10.15.1 and QEMU 4.2.0. I am on 889ecd1.

There is an issue copying files using FUSE. Based on @Pagghiu response in the other issue, I think it makes sense to use a docker container to handle file system creation so we don’t have to rely on the buggy Fuse code.

I ran into this i

[2020-01-03 14:56] cernec1999 commented on #999
Thanks! I’ve opened a new issue. I thought they’d be similar as they seem to crash in the same place  — is it likely that @diversys issue is also related to file system problems?

[2020-01-03 19:15] gootik opened #1008 "Browser crash when visiting Serenity 1 year page"
I cant figure out why this happens when visiting `http://www.serenityos.org/happy/1st/` but here is the dump:

[code]

[2020-01-04 12:33] Quaker762 commented on #1000
This would be similar to the `create_mapping(VirtualAddress, PhysicalAddress)` function I had in my reverted patch right? If so I'll drop it back in.

[2020-01-04 12:49] xTibor commented on #956
Still debugging this and already found a bug in QEMU's PS/2 code. This line in particular:

https://github.com/qemu/qemu/blob/f0dcfddecee8b860e015bb07d67cfcbdfbfd51d9/hw/input/ps2.c#L639

This calculation breaks when the mouse type is set to the default `mouse_type == 0 /* PS2 */`. It checks if there's 1 byte space left on the PS/2 queue but proceeds to write 3 bytes to it. The last two bytes of t

[2020-01-04 17:08] xTibor commented on #956
Known QEMU bug: https://bugs.launchpad.net/qemu/+bug/1722884

[2020-01-04 21:31] Pagghiu commented on #999
I don't know, last comment by @diversys is that it happened once and after re-running everything went fine...If that's the case, this issue could probably be closed.

[2020-01-04 23:39] JamiKettunen opened #1017 "Loading a keymap makes programs crash on Logo key press while handling input"
Loading any keymap manually after booting the OS makes the `Logo` key a deadly force especially against the Terminal & Text Editor, but any other application with an input box (like Browser & File Manager) also show the same behavior when the location bar is focused.

Steps to reproduce:
1. Boot the OS
2. Enter `su` on the Terminal
3. Enter `keymap en` (`en` can be replaced by any file in `/res/ke

[2020-01-05 09:21] #963 closed

[2020-01-05 11:10] xTibor commented on #1017
https://github.com/SerenityOS/serenity/blob/1bb98c6950e9b1fa6d8a6030fa5a72d1b6a9c7d1/Userland/keymap.cpp#L19

The `keymap` utility is the culprit. Wrong number of keymap entries here (80 != 0x80), no zero initialization. By the result of this the keyboard driver reads garbage into the character field of the key events. I'll push a fix.

[2020-01-05 11:15] awesomekling commented on #1017
Oh jeez. :neutral_face:

[2020-01-05 11:25] #1017 closed

[2020-01-05 12:11] xTibor opened #1022 "Mysterious rectangle collecting mouse trails"
There's a rectangle shaped area in the middle left section of the screen that collects mouse trails.

![Screenshot_20200105_125843](https://user-images.githubusercontent.com/1627292/71779960-6995bf00-2fbc-11ea-8fde-02837c992c77.png)

[2020-01-05 12:29] willmcpherson2 commented on #1022
Reproduce: wiggle the mouse within the rectangle and click repeatedly.

[2020-01-05 12:34] xTibor commented on #1022
Clicking is not necessary, just move the mouse over the area after a clean boot.

[2020-01-05 12:35] awesomekling commented on #1022
Seems to be caused by `Clock.MenuApplet` somehow. If you turn that off it stops doing this.

[2020-01-05 12:41] #1022 closed

[2020-01-05 15:52] #717 closed

[2020-01-05 22:09] blazingkin opened #1023 "Time of check, time of use bug in clock_nanosleep still present"
https://github.com/SerenityOS/serenity/blob/c5890afc8bf6008535c633f8aacccc7a9d6b38af/Kernel/Process.cpp#L3759

There is still a gap between when you validate the argument and when you copy the argument into kernel space.

It is much smaller now, given that there is not a sleep between the two, but if a thread were able to very accurately time a write to that pointer between the validate and the co

[2020-01-05 22:14] awesomekling commented on #1023
Isn't that what the code does now? Pardon me, I don't understand what you're referring too, but maybe I'm too sleepy :)

[2020-01-06 02:44] bgianfo opened #1025 "Enlighten syzkaller to fuzz the Sernity OS sycall boundary."
Fuzzing the syzcall boundary via a security based fuzzery like syzkaller would improve the security of Serenity substantially.
https://github.com/google/syzkaller

For more information the talk on syzbot for the linux kernel is very good.
https://www.youtube.com/watch?v=qrBVXxZDVQY

[2020-01-06 04:51] ADKaster commented on #1025
Looks like that tool is written in Go, so there needs to be at least a Go port before that can happen, unless i'm misreading the Makefile in their repo. Definitely worth doing if someone has the time/knowledge though!

[2020-01-06 09:45] xTibor opened #1027 "LibDraw: Support parsing #RGBA colors"
`Color::from_string()` currently supports three hexadecimal color formats: `#RGB`, `#RRGGBB` and `#RRGGBBAA`. The fourth variant, `#RGBA` seems to be missing.

[2020-01-06 14:31] JonArcherII opened #1028 "Dragging rubber band selections"
When you attempt to drag a rubber band selection, all of the selected items except the one clicked become unselected. Instead, all the items should remain selected.

[2020-01-06 14:34] JonArcherII opened #1029 "Mixing regular and rubber band selections"
If you select at least one item in a selection view, and attempt to use control to select other items via rubber banding, the previous selected files become unselected. I think it's some mouse down event that is deselecting the other items because you click on the background.

[2020-01-06 17:41] blazingkin commented on #1023
Sorry, I definitely was not super clear.

### The issue

So currently, you validate on line 3755 with `validate_read_typed` to make sure that the pointer is in userland.

Then, on line 3758, you run a `stac();` instruction to allow the kernel to read userland memory.

Suppose that you have 2 hardware threads, both running concurrently. One has made the syscall `clock_nanosleep`, and the other is r

[2020-01-06 17:41] DAlperin commented on #1029
I have a PR for this in the works. I'll put it in in a few minutes.

[2020-01-06 18:12] awesomekling commented on #1023
Thanks for going into more detail!

However, immediately following the `clac()`, the code will validate both `requested_sleep` and `remaining_sleep` before ever using them:

[code]

So I don't understand why it matters that `params->remaining_sleep` was overwritten before being assigned to `remaining_sleep` as we will still always validate the copy of the value before using it.

Maybe you are misu

[2020-01-06 19:14] blazingkin commented on #1023
Ah. You're totally right. Don't know how I missed that.

Ok. Have a nice day!

[2020-01-06 19:14] #1023 closed

[2020-01-06 20:20] DAlperin commented on #1028
Got something in the pipeline for this as well.

[2020-01-07 10:03] #1027 closed

[2020-01-07 15:18] #1029 closed

[2020-01-07 17:58] bugaevc opened #1038 "Visualize per-process resource usage"
Would be nice if SystemMonitor could visualize per-process/per-app CPU & memory usage with a color-coded chart, like this:

![image](https://user-images.githubusercontent.com/10091584/71916679-87ffe400-318f-11ea-8990-77e3dbd07884.png)

or with a pie chart or something.

Maybe this could be integrated into the graphs in the existing Graphs page.

[2020-01-07 21:36] xTibor commented on #1038
For per-process memory usage I'd rather use treemaps instead of stacked bar graphs. Apps with smaller resource usage are easier to tell apart on that kind of graph.

Random example: https://i.imgur.com/4xQ8xEs.png

[2020-01-08 07:25] N00byEdge opened #1039 "Kernel: Some kind of KASLR"
I've seen this mentioned in a few videos but I didn't find an issue on it, and I thought it might be good to make one to track the progress here. Making the layout less predictable would not help with making the kernel more secure, but harder to exploit if such a vulnerability is found, so this probably not of any real importance until people actually start using this as their everyday operating s

[2020-01-08 14:20] #1028 closed

[2020-01-08 15:03] #185 closed

[2020-01-08 15:08] awesomekling commented on #52
Fixed by @bugaevc some time ago :)

[2020-01-08 15:08] #52 closed

[2020-01-08 15:09] awesomekling commented on #9
The current build system now allows incremental builds, so let's close this :)

[2020-01-08 15:09] #9 closed

[2020-01-08 19:40] JonArcherII opened #1041 "WindowServer: Weird behavior when moving mouse during startup"
When you boot up Serenity, and start to continuously move the mouse before everything is ready, the terminal window decides to have a stroke.

[2020-01-08 22:17] xTibor opened #1043 "WindowServer: Submenus with several items are positioned incorrectly"
The code that tries to keep the submenus always on screen is slightly broken when the menu has dozens of items:

![Screenshot_20200108_225417](https://user-images.githubusercontent.com/1627292/72020720-b2739f00-326c-11ea-843a-f49912ed3a82.png)

[2020-01-08 23:06] xTibor opened #1044 "Non-printable characters should probably be sanitized from ls output"
**Reproduction:**

Where is says `<ESC>` press the actual escape key.

[code]

![Screenshot_20200108_234852](https://user-images.githubusercontent.com/1627292/72023366-d803a700-3272-11ea-8ed4-be5b35b6c98e.png)

[2020-01-09 03:06] ADKaster opened #1045 "Kernel: MAP_PRIVATE mmap based on inode does not actually create a private mapping"
This commit https://github.com/SerenityOS/serenity/commit/fe9680f0a49d55b9ee5cf751467e8d0de1e39159 breaks loading dynamic shared objects that have text relocations (i.e. the ones we are creating now :) ).

In ELFDynamicLoader::load_program_headers, we load the LOAD program header for the .text segment as so:

https://github.com/SerenityOS/serenity/blob/56974f76befed552b0f7938886dde6e9747460fe/Libr

[2020-01-09 03:29] ADKaster commented on #1045
Oh, Looks like this is because MAP_PRIVATE on non-anonymous mappings doesn't seem to mean anything. FileDescription::mmap doesn't care about shared/private, and the code in mmap doesn't seem to check it for non-purgable, non-anonymous mappings.

[2020-01-09 09:04] awesomekling commented on #284
Let's close this since I don't think we should be collecting random documents in the repo.

[2020-01-09 09:04] #284 closed

[2020-01-09 10:31] Quaker762 commented on #284
Yeah definitely a bad idea in hindsight. If anything, its best to past a link to the relevant document (and page/section number) in the header file of the module.

[2020-01-09 22:58] jcs commented on #1044
Probably anything that fails `isprint()` should be escaped.

[2020-01-10 16:09] awesomekling commented on #1041
What the heck? A stroke indeed..

[2020-01-11 11:16] iv4nhoe opened #1052 "Kernel: Cannot boot with root fs being on partition number 5 or higher"
I'm trying to get Serenity to boot on a physical machine. I have now managed to copy the files from the usb drive to an hdd partition and to start booting serenity with an existing grub1 on that machine.

I'm doing it this way because it seems the machine isn't able to boot from usb drives at all. Now the boot stops at init_stage2 because I have the serentity files on the 6th partition of the driv

[2020-01-11 22:32] awesomekling commented on #249
`pledge()` is in

[2020-01-11 22:32] #249 closed

[2020-01-12 00:41] #259 closed

[2020-01-12 07:39] bugaevc opened #1057 "Out of process file opening"
TextEditor only needs to open files that the user selects in a `GFilePicker` or drags-n-drops onto its window (disregarding fonts and icons — they could be explicitly made accessible by e.g. bind-mounting them into a chroot).

Wouldn't it be cool if an app could ask the the system (SystemDialog?) to run `GFilePicker` for it and send back an opened file?

[2020-01-12 08:42] Quaker762 opened #1058 "CArgsParser: Passing no value to argument causes a segmentation violation"
I'm not sure how long this has been around, but I recently just ran into this. Take the following example

`mount -t`

The program will terminate due to a segmentation violation. Here's a backtrace
[code]

I haven't had a look, but my guess would be some bad validation in the `CArgsParser` class.

[2020-01-12 12:05] awesomekling commented on #1057
I think that would be super duper cool :)

[2020-01-13 13:52] #1058 closed

[2020-01-13 19:46] danboid commented on #1052
Does this also happen if you use GPT?

[2020-01-14 04:14] smopucilowski opened #1075 "Toolchain compilation (BuildIt.sh) fails when repo is in ~/serenity"
1. Boot into a fresh virtual image (`ubuntu-mate-19.10-desktop-amd64` for example)

2. Prepare environment:
[code]

3. Following `serenity/BuildInstructions.md`:
[code]

4. Try to build toolchain:
[code]

[2020-01-14 10:53] bugaevc opened #1077 "Calculator: Buttons have lost their colors"
...at some point, probably during the introduction of theming.

[2020-01-14 11:24] #970 closed

[2020-01-14 16:18] sveilleux1 opened #1078 "Popup modals does not behave correctly"
Popup mechanism needs to be improved.

For example, in the filemanager, when deleting a file or directory the popup modal does not prevent the filemanager from beeing used with the keyboard. It should lock what's behind and navigating with the keyboard arrows, for example, should change the confirmation popup focus instead.

[2020-01-15 21:42] jcs commented on #1075
That's not a fresh image if it's skipping downloading and extracting/patching gcc.

[2020-01-15 22:13] #1044 closed

[2020-01-15 22:18] jcs commented on #983
The new build stuff uses `HOST_CXX`, do you still get errors if you try building with `make HOST_CXX=g++-9`?

[2020-01-16 02:02] smopucilowski commented on #1075
I've run the command prior to capturing the teminal output, but the result is the same.

[2020-01-16 06:37] marprok commented on #983
I tried to modify the `Makefile.common` and changed the CXX variable to g++-9. Then, I executed the `./makeall.sh` as the build instructions say. Which Makefile should I make with `HOST_CXX=g++-9`?

[2020-01-16 11:41] #829 closed

[2020-01-16 16:12] jcs commented on #983
You don't need to modify anything, just type `make HOST_CXX=g++-9` from the root serenity directory and it will use that value for the variable.

[2020-01-17 02:11] PaperJetJia opened #1086 "Failed to boot after run ./run　command"
First of all, Thanks for your selfless help.

This the issue I've encountered.

![Screenshot from 2020-01-17 09-52-04](https://user-images.githubusercontent.com/50317297/72577877-2ec24e00-390f-11ea-8a1d-5fd8015962ce.png)

I have to mention that after I run BuildIt.sh in Toolchain directory, I got this:
![Screenshot from 2020-01-17 10-00-35](https://user-images.githubusercontent.com/50317297/725782

[2020-01-17 06:48] marprok commented on #983
Ok, I will try it and I will get back to you.

[2020-01-17 12:12] N00byEdge commented on #1086
Duplicate of #1075 I guess

[2020-01-17 20:17] marprok commented on #983
@jcs Ok, I went on the repo root and ran `make HOST_CXX=g++-9` and it compiled successfully. That being said, can the build instructions on the `BuildInstructions.md` be updated with the correct way of building the project? There needs to be a section about the `HOST_CXX`, as well as an example on how to compile only the module that has been changed and not the whole project when you change a sing

[2020-01-17 20:19] jcs commented on #983
Issuing `make` from the top-level directory should only rebuild what changed, which includes relinking anything that uses any rebuild libraries.  If that's not working, that's a bug.

[2020-01-17 20:34] marprok commented on #983
I didn't know that about the `make` from the top-level. Another thing that would be nice to add to the build instructions is the use of the sync.sh script.

[2020-01-17 21:21] bugaevc commented on #1077
As far as I can see, `GWidget::m_foreground_color()` (and its corresponding getter) is unused.

It makes sense to use the palette-provided color when no explicit color is set, but we should respect it when it is set.

[2020-01-17 21:24] awesomekling commented on #1077
Yes, we should remove the explicit foreground and background colors from `GWidget` and always use palette colors. The right way to set button text colors is to give them a custom palette.

Something like this:
[code]

[2020-01-17 21:35] #734 closed

[2020-01-17 21:35] #1000 closed

[2020-01-17 21:37] awesomekling commented on #1086
Have you tried a clean build in a completely fresh checkout? I tried one just now and it works fine.

[2020-01-17 22:40] awesomekling opened #1090 "WindowServer: Window switcher (Logo+Tab) doesn't go away like it should"
After pressing Logo+Tab to switch to another window, I expect the window switcher to go away.

[2020-01-17 22:40] awesomekling commented on #1090
cc @shannonbooth

[2020-01-17 23:27] #1090 closed

[2020-01-17 23:33] awesomekling opened #1092 "WindowServer: ASSERTION FAILED: m_hovered_item == &m_items.at(m_current_index) WSMenu.cpp:213 in void WSMenu::update_for_new_hovered_item()"
I've seen this one a few times now. Not sure how to reproduce.
cc @shannonbooth

[code]

[2020-01-18 01:37] smopucilowski commented on #1075
I've managed to build it: for some reason, it isn't happy with the serenity repo living in `~/serenity/` --- moving it instead to `~/repos/serenity/` allowed the script to complete and build the toolchain.

[2020-01-18 05:52] bugaevc commented on #1077
Makes sense, but that means the buttons won't follow the rest of system theme (background, threed, border) when it changes

[2020-01-18 06:01] PaperJetJia commented on #1086
Thanks a lot!
But after I run "./makeall.sh" in the Kernel directory, I got this.
(BTW, the "./BuildIt.sh" command is fine without errors.)

![Screenshot from 2020-01-18 13-55-37](https://user-images.githubusercontent.com/50317297/72659419-4b878000-39fa-11ea-99f9-7481c1b4b1b8.png)

The  "./run" is still same as above.

![Screenshot from 2020-01-18 13-59-30](https://user-images.githubusercontent.co

[2020-01-18 07:56] #1092 closed

[2020-01-18 19:50] xTibor opened #1094 "WindowServer: More natural menu navigation"
This is a GUI usability issue. Submenus in the global menu require somewhat rigorous mouse movements, they feel like playing the Scary Maze Game. It would be nice to have a Bruce Tognazzini-style menu navigation from old Apple machines.

The basic idea is on hovering a menu item you draw an imaginary triangle between the top and bottom of its submenu and the mouse cursor. When moving the cursor yo

[2020-01-18 21:15] marprok commented on #1086
@PaperJetJia Have you tried to execute `Kernel/build-image-qemu.sh`?

[2020-01-19 00:00] shannonbooth commented on #1094
Great description by the way 🙂 Super clear

[2020-01-19 00:47] PaperJetJia commented on #1086
@marprok Thanks, sir!
I've just tried it and got this:
[code]

Then I run `./run`:
[code]
Sorry to bother you again.

[2020-01-19 07:45] #1094 closed

[2020-01-19 08:31] marprok commented on #1086
@PaperJetJia Can you try and make the whole project again? Just go to the serenity root folder and execute `make`. When this is done(assuming no errors appear) execute `Kernel/run`.

[2020-01-19 20:58] #1043 closed

[2020-01-20 02:28] PaperJetJia commented on #1086
@marprok Thanks, sir!
I retry this and run `make` but I got this:
[code]
I'm considering reinstall my ubuntu system. I don't want to bother you over and over again.
Thanks !

[2020-01-20 06:45] marprok commented on #1086
@PaperJetJia You don't have to reinstall your entire OS. I would recommend you to do a fresh clone of the serenity repository and try the entire process one more time. First you go to Toolchan and run `BuildIt.sh`, after it is done go to the serenity root directory and run `make`. Finally try and execute the `Kernel/sync.sh` which should create the disk image that serenity uses. After all of the a

[2020-01-20 10:51] bugaevc opened #1099 "Piano crashes in kernel space"
This happens immediately after stating Piano:

[code]

[2020-01-20 12:17] #1099 closed

[2020-01-20 15:47] supercomputer7 commented on #1052
Currently you can't boot with partition number higher than 4, even on GUID partitioned disks. This is due to some limitations in the Partition Handling code, that I want to resolve in the future...

[2020-01-20 19:54] supercomputer7 commented on #1086
I saw one time that problem when you can't build the toolchain (same reason as in the picture).
Just clone the project again or do some cleaning & pulling, then try again.

[2020-01-20 23:30] atillabyte opened #1103 "Browser: view-source requires pledges"
The browser crashes whenever viewing source on a web page. It requires 'proc' and 'exec' permissions in order to view the source of the page.

[2020-01-21 05:20] PaperJetJia commented on #1086
@marprok @supercomputer7
Thank you for being so considerate!
I followed the steps but the problem is still the same. Although I reinstall my OS and retry several times (from `git clone` to run), the issue is still in there.
This is the first time I post an issue, maybe I didn't make the problem clear.
I'm new to the operating system, thanks for your considerate help, and I've decided to postpone t

[2020-01-21 05:44] Quaker762 commented on #1086
@awesomekling I'm going to give this a crack on a VM later and see what the
issue is. I reckon we should move back to using `UseIt.sh` (but that's
obviously just my opinion)

On Tue, Jan 21, 2020 at 4:20 PM PaperJetJia <notifications@github.com>
wrote:

[2020-01-21 11:18] awesomekling commented on #1103
Ah yes. We should fix this by making a dedicated view-source mechanism in the browser, instead of pledging `fork` and `exec` :)

[2020-01-21 13:08] awesomekling commented on #831
Fixed in 1060d59ddd39c75b2fbbb4e2baa17dfaa223695b :)

[2020-01-21 13:08] #831 closed

[2020-01-21 20:55] #1078 closed

[2020-01-22 13:17] sveilleux1 opened #1111 "FileManager: Window resized area not repainting when resized when the delete popup is shown"
Step to reproduce:
1. Select a file
2. Press Delete Key
3. Resize the FileManager window (title buttons or manually)

This is probably not a FileManager only problem.

Suggestion:
This is does not invalidate the fact that this bug should be fixed but I think we should have a better modal mechanism that block any intervention with the parent container when a modal is taking over the events.

[2020-01-22 13:21] sveilleux1 opened #1112 "GItemView: Item names displayed outside the container"
In FileManager, located in /home/anon, FileManager.ini filename is displayed outside the container.
Do we need to add a "padding" in the FM's Icon View ?

[2020-01-22 14:52] JonArcherII commented on #1112
Also worth noting, but probably deserves it’s own issue, when dragging a rubber band selection, you can drag it behind the scroll bar.

[2020-01-22 15:44] danboid commented on #754
I no longer get the

[code]

Error when running a configure script under bash. Instead, running a configure script now produces a long list of `Command not found` errors for the various statements and built-in commands.

[2020-01-22 15:55] sveilleux1 opened #1113 "Scheduler: Mouse lag when opening multiple applications"
The more we open FileManagers and/or Process Explorer the more the mouse input become laggy.

I don't know much about how mouse handling should be implemented inside an Operating System but should it be using it's own "high priority" thread? This way the mouse is always fluid even if the operation system is super busy.

[2020-01-22 15:58] sveilleux1 opened #1114 "Kernel: Various file system crashes when opening multiple FileManagers"
The OS crashes when a lot of FileManagers are opened and never closed.

Here is the log output
[code]

[2020-01-22 16:00] sveilleux1 commented on #1112
@JonArcherII Yes, I think it should deserve its own issue as suggestion probably

[2020-01-23 06:40] bugaevc commented on #1113
That is the case already:

https://github.com/SerenityOS/serenity/blob/d66bbc21ce2b7369d70109c0ce2ce41c01241079/Base/etc/SystemServer.ini#L23-L27

Moreover, opening more apps (that do nothing) should only consume more memory, not more CPU time.

[2020-01-23 06:44] bugaevc commented on #1114
Is this reproducible, or did it only happen once? I've seen something similar happen, but couldn't reproduce it.

[2020-01-23 08:55] bugaevc commented on #824
We can close this I guess (see https://github.com/SerenityOS/serenity/issues/754#issuecomment-577248264)

[2020-01-23 09:00] danboid commented on #824
Oh yeah! Dupe!

[2020-01-23 09:00] #824 closed

[2020-01-23 09:02] Quaker762 commented on #1075
@jcs

Can confirm that this is happening when the repo is in `~serenity` or `~/Documents/serenity`, even on a fresh clone.

[2020-01-23 09:19] Quaker762 commented on #1086
@PaperJetJia Okay so I've had a quick look into this and couldn't reproduce it. Can you try this for me please:

1. Delete any instances of `serenity` on your system.
2. Create a new folder in your home directory called `SerenityOS` or something similar
3. Clone serenity in there and run `mv serenity serenity-blah` or something similar
4. Rerun `BuildIt.sh`
5. Run `./makeall`

Post the results her

[2020-01-23 10:17] bugaevc commented on #1112
In bug reports like these, it'd be helpful to attach a screenshot showing exactly what and where goes wrong.

This is what i think you mean:

![image](https://user-images.githubusercontent.com/10091584/72975896-9fbba700-3de2-11ea-9be3-ed5f72d84524.png)

[2020-01-23 10:23] bugaevc commented on #1114
Here's a different crash I got this way:

[code]

[2020-01-23 10:29] bugaevc commented on #1114
This is fun!

[code]

[2020-01-23 10:37] bugaevc commented on #1113
Yeah I can reproduce this too. The issue, at least with opening tons of SystemMonitor's (that's what its called :smile:) is that each one becomes runnable each second, and since there are so many of them they eat up all of CPU time. But that also means that all the SystemMonitors other than the one that gets this timeslice get their dynamic priority incremented, so they quickly overtake WindowServ

[2020-01-23 10:48] danboid opened #1121 "TextEditor: Copy/paste adds additional whitespace at beginning of lines"
If I select and copy a block of shell code such as this under TextEditor:

[code]

Then, if I paste it in the same document or in a separate TextEditor window, I get the following:

[code]

[2020-01-23 10:50] awesomekling commented on #1121
Oh yeah, the auto-indentation mechanism is interfering with copy-paste. Seems like we should just disable it while pasting.

[2020-01-23 12:26] danboid opened #1122 "TextEditor: Jump to line"
It would be handy to have a text entry box in TextEditor that would allow you to instantly jump to whatever line number you enter into it.

[2020-01-23 14:12] awesomekling commented on #1113
Some other ideas for making SystemMonitor handle this better:

* Disallow multiple instances of SystemMonitor (boring but kinda reasonable.)
* Improve file system locking. All those processes will be racing to grab various fs locks while trying to re-open `/proc/all`. It would be good if you could have multiple simultaneous readers instead of being completely exclusive.
* Don't do the regular upda

[2020-01-23 14:13] awesomekling commented on #1122
Great idea! We should find a way to bring features from `HackStudio` into the text editor app somehow easily.

[2020-01-23 14:35] bugaevc commented on #1113
There are all mitigations, not fixes (doesn't mean we shouldn't do that).

The fix would be to add some_const/num_threads extra priority to threads we cannot run instead of 1 on each tick, to make the balance between the amount of extra priority you gain between two of your time slices (currently, num_threads) and base priority diffs (think 10) independent of the number of threads.

[2020-01-23 14:38] bugaevc commented on #1113
And we should also give that extra priority to every thread that did not get to run this timeslice, even if it's not runnable (sleeping or blocking). This way, when you block for a long time waiting for I/O, you react to it sooner -> less latency.

AFAIK Linux does both of these.

[2020-01-23 14:57] danboid opened #1123 "TextEditor: Make colour of non-highlighted line numbers darker"
The colour of the font used for the non-highted line numbers is too light, making the line numbers difficult to read.

[2020-01-23 15:08] danboid commented on #1123
Maybe use the current shade used for highlighted lines for non-highlighted lines then make the font of highlighted lines black.

[2020-01-23 15:18] awesomekling commented on #1113
Yeah, fair points @bugaevc those sound like good strategies. We can't use floating point in the kernel but we can just scale up the integer values a bit :)

[2020-01-23 15:39] danboid commented on #754
This is the first 275 lines of the dosbox SDL2 configure script. I have only changed the hashbang so as to work with the serenity bash port. If you copy/paste line 1 to 157 into a new file and run it with bash it runs without error but the "command not found" errors start happening if you run the full file including lines 158-275.

[code]

@bugaevc  @awesomekling

[2020-01-23 15:44] danboid commented on #754
I'll try to narrow this down further.

[2020-01-23 15:50] danboid commented on #754
OK, got it!

The (first) problem line seems to be:

[code]

Which causes a `Bad address` error.

[2020-01-23 16:09] danboid commented on #754
$CONFIG_SHELL doesn't get set. If I echo it at the end of the working bit of the script, it returns nothing.

[2020-01-23 16:16] danboid commented on #754
@Quaker762 @supercomputer7

[2020-01-23 18:56] danboid commented on #754
I don't think $CONFIG_SHELL not being set is the problem here as it doesn't get set under Ubuntu/bash either when running the full configure script snippet above. However Ubuntu doesn't give a bad address error either.

[2020-01-23 19:55] danboid commented on #754
What I think is going on here is that `exec` runs `/bin/sh` when this (or any other configure) script is run under Serenity/bash when we actually want it to run /usr/local/bin/bash.

amirite?

[2020-01-23 19:58] danboid commented on #754
This is the script extract I run to trigger the error under Serenity/bash. It produces no errors when run under Ubuntu/bash.

[code]

[2020-01-23 20:09] danboid commented on #754
Seems I was right. I have replaced /bin/sh with a link to /usr/local/bin/bash and I no longer get any `Bad address` errors and now the only missing commands are `sed` and `expr` :)

[2020-01-23 20:29] danboid opened #1124 "Userland: expr (needed to run configure scripts)"
Today I have been trying to get an autoconf configure script to run under the Serenity bash port. To get configure to (almost) run, you need to replace /bin/sh with a link to /usr/local/bin/bash but even then it won't run as it requires sed and expr.

Whilst sed won't be trivial to reimplement, reimplementing enough of expr to run configure scripts should be a bit more doable, I'd hope.

Some exam

[2020-01-23 20:33] #1121 closed

[2020-01-23 20:33] #1122 closed

[2020-01-23 20:33] #1123 closed

[2020-01-24 01:58] PaperJetJia commented on #1086
@Quaker762 Thank you for being so considerate!

After I run `./makeall.sh` I got this.
[code]

[2020-01-24 12:44] willmcpherson2 commented on #899
This is fixed, PR in a few days

[2020-01-24 12:44] #899 closed

[2020-01-24 13:24] danboid commented on #754
`sed` has been ported, should just be expr now...

[2020-01-24 13:24] #754 closed

[2020-01-24 15:24] bugaevc commented on #1113
How about: do collect data in a low-priority thread and unless visible, don't update the UI?

[2020-01-24 15:37] bugaevc commented on #1113
`CProcessStatisticsReader` could actually skip looking up `/proc` each time if it pre-opened `/proc` and then used `openat("all")`.

Which makes me wonder, is there any way at all in Unix to somehow get some sort of inode handle and then (repeatedly) open it by that handle, without using any paths on the second step. `O_PATH` comes close, but unless the inode is a directory, you cannot use it in a

[2020-01-24 20:07] bugaevc commented on #113
We have basic completion now :)

[2020-01-24 20:09] bugaevc commented on #182
https://github.com/SerenityOS/serenity/commit/f4f958f99f9c732525d1846c9ee5cc20cef7dea6

[2020-01-24 20:19] bugaevc commented on #387
The launcher is no more; is this still possible to trigger?

[2020-01-24 20:24] bugaevc commented on #826
If it's all fixed, can we close this now?

[2020-01-24 20:49] #113 closed

[2020-01-24 20:50] danboid commented on #826
Yes, this is all good now.

[2020-01-24 20:50] #826 closed

[2020-01-24 21:31] #182 closed

[2020-01-24 22:28] JonArcherII commented on #387
I was able to sorta reproduce, by doing the same with the task bar. However, it crashes the window server which then restarts.
Log:
[code]

[2020-01-25 08:09] #995 closed

[2020-01-25 09:34] #387 closed

[2020-01-25 09:41] #1111 closed

[2020-01-25 16:46] danboid commented on #1124
If we're not writing this from scratch but porting an existing implementation, the OpenBSD one seems like the one to go for:

https://github.com/openbsd/src/blob/master/bin/expr/expr.c

I have a quick go at building it under serenity and there are two main issues. First we don't have a regex.h. Could this be lifted and shifted unmodified from OpenBSD?

https://github.com/openbsd/src/blob/master/in

[2020-01-26 08:50] awesomekling opened #1134 "Net: IP fragmentation support"
Packets larger than the interface MTU need to be fragmented before transmission. We also need to know how to reassemble incoming fragments.

[2020-01-26 09:25] The-King-of-Toasters opened #1135 "building zlib fails: undefined reference to `___tls_get_addr'"
I'm running Arch Linux, and whenever I try to build Ports/zlib I consistently get this error:

[code]

I've confirmed that this happens even on a clean build.

[2020-01-26 09:34] #1135 closed

[2020-01-26 14:47] awesomekling opened #1138 "LookupServer: Support DNS truncation"
If a DNS response is too large for UDP, there's a way to re-request the information over TCP to get the full thing.

This bug is a breakout from #10 so we can close that one ;)

[2020-01-26 14:54] awesomekling commented on #979
We can work together with the compiler on this issue. If we stop using format strings in the kernel and instead use `dbg()` style streaming output, we can make it a compile error to pass any pointer type to it.

[2020-01-26 14:54] awesomekling commented on #958
Dupe of #948

[2020-01-26 14:54] #958 closed

[2020-01-26 14:59] awesomekling commented on #10
Closing this since everything but truncation is now ready to go, and we can continue that in #1138. :)

[2020-01-26 14:59] #10 closed

[2020-01-26 17:03] awesomekling commented on #974
[code]

[2020-01-26 17:04] awesomekling commented on #47
Fixed in ad3f9317072697895436af93de71eb13f08c176e

[2020-01-26 17:04] #47 closed

[2020-01-26 17:06] awesomekling commented on #107
Fixed by @DrewStratford in 4c35c8d7fd4c593e8211d65be9a298ec27dcfa52

[2020-01-26 17:06] #107 closed

[2020-01-26 17:37] awesomekling opened #1139 "Self-hosting: Kernel built inside Serenity does not link correctly"
g++ builds all the kernel object files correctly. If I copy them out to my host machine and link the kernel there, it boots.

Something goes wrong in the linking stage. If you look at the binary with `objdump` you can see that all the text section offsets are weird. They kernel is supposed to start at `0xc0000000` but when linked inside Serenity it starts at `0x80000000`.

[2020-01-26 17:40] awesomekling commented on #919
Sounds like the problem here is running within double layered virtual machines. If this is still a problem when running in a single VM, feel free to reopen.

[2020-01-26 17:40] #919 closed

[2020-01-26 17:41] awesomekling commented on #674
We'll get there. :)

[2020-01-26 17:43] awesomekling commented on #700
Closing old build-related issues since we have a build bot and several people building the system many times per day.

[2020-01-26 17:43] #700 closed

[2020-01-26 17:44] awesomekling commented on #1075
Closing old build-related issues since we have a build bot and several people building the system many times per day. There's no need to open build-related issues, please fix the problem on your end instead. :)

[2020-01-26 17:44] #1075 closed

[2020-01-26 17:45] awesomekling commented on #1086
Closing old build-related issues since we have a build bot and several people building the system many times per day. There's no need to open build-related issues, please fix the problem on your end instead. :)

[2020-01-26 17:45] #1086 closed

[2020-01-26 17:46] awesomekling commented on #552
A bootloader is outside the scope of this project.

[2020-01-26 17:46] #552 closed

[2020-01-26 17:47] awesomekling commented on #719
Closing old build-related issues since we have a build bot and several people building the system many times per day. There's no need to open build-related issues, please fix the problem on your end instead. :)

[2020-01-26 17:47] #719 closed

[2020-01-26 17:47] awesomekling commented on #78
Closing old build-related issues since we have a build bot and several people building the system many times per day. There's no need to open build-related issues, please fix the problem on your end instead. :)

[2020-01-26 17:47] #78 closed

[2020-01-26 17:49] awesomekling commented on #697
Closing this since there's no clear bug here. Feel free to file specific bugs.

[2020-01-26 17:49] #697 closed

[2020-01-26 17:50] awesomekling commented on #723
Closing old build-related issues since we have a build bot and several people building the system many times per day. There's no need to open build-related issues, please fix the problem on your end instead. :)

[2020-01-26 17:50] #723 closed

[2020-01-26 17:59] #641 closed

[2020-01-26 18:00] awesomekling commented on #507
This is basically working :)

[2020-01-26 18:00] #507 closed

[2020-01-26 18:03] awesomekling commented on #498
This keeps improving over time. I can now easily run 20 copies of the `ChanViewer` program.
Gonna close this bug and we can open new ones as we run into new versions of the problem :)

[2020-01-26 18:03] #498 closed

[2020-01-26 18:05] awesomekling commented on #823
nano is no longer crashing the terminal on startup. :)

[2020-01-26 18:05] #823 closed

[2020-01-26 18:10] awesomekling commented on #755
This succeeds now :) `bsdtar` can unpack `openssl-1.1.1d.tar.gz` in 26 seconds on my machine. I'm sure we can make it faster, but I'd say this bug is fixed :)

[2020-01-26 18:10] #755 closed

[2020-01-26 21:29] JonArcherII commented on #999
Idk, I’ve been able to build serenity under Mac for quite a while now 😃

“It works for me” 😉

[2020-01-26 22:03] MWGuy opened #1140 "LibC: Implement getrusage function"
**https://linux.die.net/man/3/getrusage**

[2020-01-26 22:07] MWGuy opened #1141 "LibC: implement socket shutdown function"
**https://linux.die.net/man/3/shutdown**

[2020-01-26 22:11] MWGuy commented on #1141
Functions ``shutdown`` and ``getrusage`` (#1140) needs for linking openssl apps

[2020-01-26 22:17] MWGuy opened #1142 "LibC: Implement getservent, getservbyname, getservbyport, setservent, endservent functions"
**https://linux.die.net/man/3/getservbyname**

[2020-01-26 23:05] xyproto commented on #78
I think this may be related to Wayland vs X11. It works at home with Xfce4, but fails at work where I use Sway. Both are 64-bit Arch Linux.

[2020-01-27 07:16] bugaevc commented on #1141
You mean https://pubs.opengroup.org/onlinepubs/009695399/functions/shutdown.html 😉

[2020-01-27 11:57] Quaker762 opened #1143 "Terminal: Changing font on a line spanning multiple rows creates an extra line"
Horrible title, but switching fonts to a large one (for example, `Liza Bold 36`) and then back to a regular sized font such as `Csilla Thin` when the Terminal window is the default size causes a new line to be inserted.

*How to reproduce:

1. Open a Terminal
2. Change the font to `Liza Bold 36`
3. Change the font back to `Csilla Thin`
4. Your cursor is now on a new line.

[2020-01-27 18:57] awesomekling commented on #237
On second thought, let's not worry about this.

[2020-01-27 18:57] #237 closed

[2020-01-27 18:58] awesomekling commented on #136
This doesn't appear to be an issue anymore :)

[2020-01-27 18:58] #136 closed

[2020-01-27 19:03] awesomekling commented on #654
The kernel is now using `RDRAND` if available. It may be interesting to add some alternative/additional entropy sources.

[2020-01-27 19:06] awesomekling commented on #1141
Dupe of #428

[2020-01-27 19:06] #1141 closed

[2020-01-27 19:24] lnzero1dev commented on #995
Hey @ADKaster,

just had a look into python 3.6.10. I manged to compile it but it doesn't run as more functions are missing. So I would stick to the current version and maybe it's worth to wait a bit until we have pthread API, then we could directly go go python 3.7 or 3.8 :-)

But maybe I can also give 3.6.4 a try, maybe that needs less than 3.6.10. =)

[2020-01-27 19:50] #794 closed

[2020-01-27 21:17] okraits opened #1145 "Text Editor: Scrolling through ReadMe.md makes the editor crash"
How to reproduce:

1. Open ReadMe.md in the text editor.
2. Scroll to the bottom of the document with PageDown.
3. Scroll back to the top of the document with PageUp.
4. The editor crashes.

[2020-01-27 22:00] #21 closed

[2020-01-27 22:00] #1145 closed

[2020-01-27 22:02] #999 closed

[2020-01-27 22:02] awesomekling commented on #983
If there are some specific improvements for the build/run scripts, feel free to post a PR. Closing this.

[2020-01-27 22:02] #983 closed

[2020-01-27 22:04] awesomekling commented on #927
It's my understanding that the macOS build has been working for some time. Closing this.

[2020-01-27 22:04] #927 closed

[2020-01-27 22:06] awesomekling commented on #956
Okay, since it's a known QEMU bug, I don't think there's anything we can do here. Closing this.

[2020-01-27 22:06] #956 closed

[2020-01-28 03:14] ADKaster commented on #995
Hm, why does python think we don't have pthread? We have a minimal implementation of pthreads in Libraries/LibPthread, that should be available for python to link against. Maybe we need to 'install' libpthread.a to Root/usr/lib?

Unless there's a set of pthread_* methods that we don't have available that python needs, which sounds like a nice idea for an issue :)

Last time I ran it there were som

[2020-01-28 07:12] gootik opened #1146 "ChanViewer crashes on startup"
[code]

[2020-01-28 10:33] bugaevc commented on #1146
https://github.com/SerenityOS/serenity/issues/958?

[2020-01-28 17:57] lnzero1dev commented on #995
Uupsi, I guess this is just my (obvious out of date) assumption from the state when I ported it (somewhen in November). If we have the pthread API we could try if it compiles against it :-)

Right, I got that issue also with 3.6.10, but directly when starting it (to be exact it was the frexp function). Maybe it's worth a try to see which other API's might be missing/asserting. Let's see if I can f

[2020-01-30 01:01] DAlperin opened #1149 "Filemanager: Select all selects way more than expected."
Ctrl+A in any file manager view selects way more than the files in the current view. Selecting all with Ctrl+A in the home directory selects 81 items.
![Screenshot from 2020-01-29 19-59-10](https://user-images.githubusercontent.com/16063713/73411068-16204380-42d2-11ea-86a8-72ed05c37e7f.png)

[2020-01-30 06:19] bugaevc commented on #1149
This is because `select_all()` implementation is wrong:

https://github.com/SerenityOS/serenity/blob/831ff2d0ac8d2d19d4ab3c6b870fc3ffa9da1c5c/Libraries/LibGUI/GAbstractView.cpp#L126-L136

It shouldn't loop over columns. Since `GAbstractView` doesn't know which column it displays (maybe multiple), perhaps this method's implementation should be moved down to subclasses.

[2020-01-30 12:15] lattera commented on #10
Not that it really matters for SerenetyOS' likely user base, but FYI `.mil` breaks with 0x20. ;-P

[2020-01-30 12:31] awesomekling commented on #10
Oh really? Is that listed on https://github.com/dns-violations/dns-violations or somewhere else?

[2020-01-30 12:41] lattera commented on #10
Documented on my Twitter (and/or Mastodon? working 12-16 hour days makes memory fuzzy) as I worked to harden my `${DAYJOB}` network's DNS: https://git-01.md.hardenedbsd.org/shawn.webb/dnspinning-for-human-rights

[2020-01-30 16:28] DAlperin commented on #1149
Maybe each view should be responsible for implementing its own select all? I think this actually makes the most sense because it allows for more complex select all behaviors in things like a GAbstractTableView where the selected column changes the select all behavior. I can take a crack at this.

[2020-01-30 20:05] bugaevc commented on #1149
That's what I've said, yeah.

[2020-01-31 00:18] DAlperin commented on #1149
My bad, I was very tired when I read that initially. Thanks for the idea.

[2020-01-31 19:16] xTibor opened #1155 "PS2Mouse: Implement vmmouse support"
Vmmouse is an extension to the PS/2 mouse protocol originally created for VMware, also supported by QEMU. By implementing this QEMU would automatically capture/release the mouse cursor on hovering/leaving the VM window. This would also help solving the problem of some people trapping themselves in the VM.

Protocol: https://wiki.osdev.org/VMware_tools#Absolute_Mouse_Coordinates

There's a small ca

[2020-02-01 16:32] #1052 closed

[2020-02-01 19:25] xTibor opened #1158 "Piano: Crash on setting notes in the bottom row while they being played"
**Reproduction:**

1. Scroll the piano roll down to the bottom
2. Choose any cell from the bottom row and wait until it's column getting highlighted
3. Start clicking mindlessly on the cell

**Stacktrace:**

[code]

[2020-02-02 03:23] willmcpherson2 commented on #1158
I can't seem to reproduce this no matter how much I click on the playing column.
I know that this line is responsible:
https://github.com/SerenityOS/serenity/blob/117820f6100754b391cb108b6fb2428e03ce2d87/Applications/Piano/RollWidget.cpp#L130

[2020-02-02 03:37] xTibor commented on #1158
https://streamable.com/whaoc

[2020-02-02 04:52] willmcpherson2 commented on #1158
Ok, this seems to be caused by certain window sizes causing an extra row of notes to be drawn, so we can probably blame this function:
https://github.com/SerenityOS/serenity/blob/117820f6100754b391cb108b6fb2428e03ce2d87/Applications/Piano/RollWidget.cpp#L53
I should be able to fix this easily
Thanks for the information @xTibor

[2020-02-02 05:00] willmcpherson2 opened #1163 "Piano: Assertion failure if octave slider is changed too quickly"
To reproduce, grab the octave slider with your mouse and move it quickly

[code]

[2020-02-02 14:08] #816 closed

[2020-02-02 14:08] #556 closed

[2020-02-02 20:14] xTibor opened #1165 "WindowServer: Assertion failure on hovering empty dropdown menus"
**Reproduction:**
1. Open PaintBrush
2. Click on the Edit menu
3. Move the mouse downwards

**Stacktrace:**

[code]

[2020-02-03 12:37] supercomputer7 commented on #1155
@bugaevc mentioned it today in the IRC channel.
I'll try to work on the hardware part :)

[2020-02-03 14:52] JonArcherII opened #1168 "Userland: passwd utility"
Now that we have a `useradd` utility, it would be nice to have a matching `passwd`!

[2020-02-03 15:56] bugaevc commented on #1168
@Quaker762

[2020-02-04 02:02] rcsteiner opened #1174 "Build Broken, makeall.sh fails to build AK/Tests missing header declarations"
I am building on Ubuntu 18.04 and everything went OK till It tries to build the AK/Tests and fails, I get the following listing:

flock AK/Tests -c "make -C AK/Tests clean all && make -C AK/Tests clean"
make[1]: Entering directory '/mnt/d/Projects/OS/serenity/AK/Tests'
Tests: CLEAN
Tests: C++ TestCircularQueue.host.o
In file included from ../../AK/NonnullRefPtr.h:31,
                 from ../../AK

[2020-02-04 08:49] JustBeYou commented on #1168
I am willing to start contributing to some open source projects and SerenityOS looks really cool.
If no one is working on this, could I be assigned?

[2020-02-04 11:04] Quaker762 commented on #1168
@JustBeYou Go for it mate!

[2020-02-04 12:26] JustBeYou commented on #1168
As I see, user passwords are not handled in any way until now. There is a field in `struct passwd` named `pw_passwd`, but it is never used. [see struct here](https://github.com/SerenityOS/serenity/blob/master/Libraries/LibC/pwd.h#L37)

Writing `passwd` utility would also require:
* to modify `pwd.cpp` in order to handle password writing to `/etc/shadow`
* to modify `su` program to ask for a passwo

[2020-02-04 18:11] #1155 closed

[2020-02-05 10:38] JustBeYou commented on #1168
As I see, Serenity has no crypto built-in library. I need hashing functions in order to store passwords securely. As OpenSSL is already ported I could use that, but I don't think it's ok to rely on an external package for a default program of the system.

Should we add a small `LibCrypto` to the project or use  `OpenSSL`?

[2020-02-05 14:26] JonArcherII opened #1180 "Userland: deluser/delgroup"

[2020-02-05 14:28] JonArcherII opened #1181 "Login screen"
Once passwords become a thing in Serenity, it would be really awesome if we had a login screen that listed users and needed a password to access the desktop. It also would be cool if it could auto-login to a user account (anon).

[2020-02-05 14:30] JonArcherII commented on #1168
I would get @awesomekling's opinion, he would probably want Serenity to have its own `LibCrypto`, but he probably has insight on how it should be made.

[2020-02-05 17:54] jcs commented on #1168
A password hashing algorithm needs to be chosen as well.  I vote for scrypt.

[2020-02-05 17:55] awesomekling commented on #1168
The base system should not have any 3rd party dependencies other than a compiler. So a `LibCrypto` would indeed be the right thing here :)

[2020-02-05 19:10] JustBeYou commented on #1168
@jcs There are 5 default hashing algorithms that must be supported as I know.
[code]
Choosing a default one from those I think it's good enough as those are cryptographically secure.

@awesomekling should I open a new issue regarding `LibCrypto` to talk about design and implementation? Then this issue will be mostly done too.

[2020-02-05 20:31] bugaevc commented on #1181
Hmm, a non-WindowServer program that writes to the framebuffer and handles mouse/keyboard? And has widgets like input fields?

We should really work on making it possible to use LibGUI w/o talking to WindowServer, and then port WindowServer itself to it. Then we'd be able to write a separate login screen program.

As an alternative, it could be possible to run a special copy of WindowServer and a

[2020-02-05 20:55] awesomekling commented on #1181
Hmm. I would rather steer away from adding functionality to WindowServer (re: porting it to LibGUI.) In fact, it would be nice if we could reduce it as much as possible, to just being an IPC-driven compositor. Running a window+menu manager in a separate process would allow using LibGUI there.

For a login screen, a separate copy of WindowServer doesn't seem so bad. It would allow us to isolate un-

[2020-02-05 22:45] rcsteiner commented on #1174
This error stream came from Windows Linux Sub-system running ubuntu 18.04.  I ran the build again on a real VM ubuntu 19.10 and it worked.

The problem is building on the windows Linux sub-system.

[2020-02-05 22:45] #1174 closed

[2020-02-06 02:36] jcs opened #1186 "SO_PEERCRED wrong on dup2'd fd"
Compile the [attached](https://github.com/SerenityOS/serenity/files/4162932/sock.c.txt) program (`cc -Wall -o sock sock.c`) and run it on Serenity.  It reports:

    [19] parent waiting...
    [20] child, inheriting socket
    [20] forking connecting child
    [21] child 2, connecting back to child 1
    [20] got connection, waiting
    [21] socket peer reports 20, pid1's pid 20

The socket passin

[2020-02-06 06:24] bugaevc commented on #1181
That's exactly why I'd like to see it ported to LibGUI :) then it'd be possible to drop most of custom event and positioning code. For example, window title buttons could be the real buttons (that already know how to draw themselves and determine whether they're pressed / being pressed). Stuff like whether we have an ongoing window drag or resize would be clearer with the widget abstraction where

[2020-02-06 07:41] bugaevc commented on #1186
Well, it doesn't seem like POSIX specifies `SO_PEERCRED`. And it is loosely defined: which Peet's credentials do you return when there're multiple?

[2020-02-06 07:45] bugaevc commented on #1186
One thing's for sure: SystemServer doesn't currently *accept* connections, it just waits for them. So if a client does `SO_PEERCRED` on its *connected* socket (which corresponds to an *accepted*, not listening, socket on the other side), it should get WindowServer's PID.

[2020-02-06 09:21] bugaevc commented on #1186
Ah, I see your test example shows connect/accept too. As I said, the Serenity behavior seems correct to me, and it's Linux and OpenBSD that go wrong. A bold claim, I know.

[2020-02-06 12:34] bugaevc opened #1187 "Signal dispatching causing kernel stack corruption?"
After the recent change to `waitpid()` in https://github.com/SerenityOS/serenity/pull/1183, the Bash port reproducibly fails like this:

[code]

[Here's](https://paste.gg/p/anonymous/bd3c1aef9ef14cda9cdb88792eb47294) the kernel patch with some appropriate dbg's that I've used used in the log above.

It looks like something goes wrong with the signal dispatching logic (there seems to be a timer sig

[2020-02-06 13:02] bugaevc commented on #1187
It turned out to be two different `sys$waitid()` invocations with a signal delivery in between, and the weird value is an unrelated issue.

[2020-02-06 13:02] #1187 closed

[2020-02-06 20:40] jcs commented on #1186
I tested on macOS which supports `getsockopt(sock, SOL_LOCAL, LOCAL_PEERPID, &pid, &pid_size)` and it returns child 1's pid:

    [1507] parent waiting...
    [1509] child, inheriting socket
    [1509] forking connecting child
    [1510] child 2, connecting back to child 1
    [1510] socket peer reports 1509, pid1's pid 1509
    [1509] got connection, waiting

[2020-02-06 23:00] xTibor opened #1190 "WindowServer: Assertion failure while holding multiple keyboard keys"
**Reproduction:**

Choose 3 or more random keyboard keys and hold them simultaneously for 2-3 seconds. If WindowServer didn't crash after this, back to step one and repeat with a different set of keys. Might take several tries to trigger this failure.

https://streamable.com/m1bbt

**Stacktrace:**

[code]

[2020-02-06 23:02] #1190 closed

[2020-02-06 23:21] xTibor commented on #1190
That was quick, I thought it's gonna be something much worse than this.

[2020-02-08 12:54] diversys opened #1192 "No rule to make target clean"
This is 6a9cc66b976653bf5f0440a6071b736d6d41c183 on macOS 10.14.

[code]

Also usually `makeall.sh` script asks for root password twice - at the beginning and almost at the very end. Any idea how to suppress it?

[2020-02-08 12:59] awesomekling commented on #1192
You can fix the build by doing `rm -r Libraries/LibDraw`

The `makeall.sh` thing is a separate issue. It asks for the root password up front since most people have `sudo` configured to cache the permissions for a while after a successful access. I'm not sure how to solve that as I'm not using macOS.

[2020-02-08 12:59] #1192 closed

[2020-02-08 13:28] diversys commented on #1192
That did the trick, thanks :)

[2020-02-08 15:06] #428 closed

[2020-02-08 19:27] diversys opened #1193 "Build fails with redefinition error"
This is deb154be61867c1b23605037d3693f7980a3b9a0.

[code]

[2020-02-08 19:42] awesomekling commented on #1193
`rm -r Root` in the project repository should do the trick.

Note that this project uses Travis CI to ensure that the master branch remains buildable. As such, you can check https://travis-ci.com/SerenityOS/serenity/ to see the current state of the build. If the build is working on Travis, there's a high chance that a clean local build will work too.

[2020-02-08 19:42] #1193 closed

[2020-02-08 20:15] diversys commented on #1193
After `rm -r Root`

[code]

[2020-02-09 11:12] bugaevc opened #1198 "make clean doesn't clean up .d files in subdirectories"
E.g. in the kernel and in LibHTML, where it's common to use subdirectories without writing a separate makefile for them, `.kernel.d` files in those stay after `make clean`, because they don't match the `*.d` wildcard.

https://github.com/SerenityOS/serenity/blob/9b5e0b6247280a2c142d77a5e5cd598fd0d749a3/Makefile.common#L141-L143

[2020-02-09 15:53] movAX13h opened #1200 "WebServer: Space missing in error response"
After %u a space should be added to separate the error code and the error message.

https://github.com/SerenityOS/serenity/blob/db2ede94271f58765873289a3b7d51bd731949bc/Servers/WebServer/Client.cpp#L86

[2020-02-09 16:06] #1200 closed

[2020-02-09 16:06] awesomekling commented on #1200
Thanks for pointing that out! :D

[2020-02-09 18:39] jcs commented on #1198
[code]

[2020-02-10 09:18] #1198 closed

[2020-02-10 09:46] #201 closed

[2020-02-10 14:43] ignas-sa opened #1208 "LibHTML: Text selection"
Currently, the browser does not support selection of text via mouse. Seeing how widespread this functionality is, I believe it should be included here too.

[2020-02-10 18:46] jcs commented on #1168
@JustBeYou not all of them need to be supported, just the one that the OS uses (I've never seen an OS have multiple types of hashes in its password file).  For example, OpenBSD's `crypt()` function:

[code]

[2020-02-11 09:14] shannonbooth commented on #1165
So the problem is actually pretty simple. When we open a menu we do not create a window for an menu with no items, and in a few places the code expects there to be a window.

I am wondering what sort of behavior we are wanting if there is a menu with no items in it... A simple solution to this would be for the MenuManager (and WindowManager while we still have not migrated all menu code to the Men

[2020-02-11 14:34] ignas-sa opened #1210 "Browser: error pages"
The browser should display error pages like "No Internet connection" or "Protocol not supported: HTTPS" instead of crashing from reaching ASSERT_NOT_REACHED().

[2020-02-11 18:49] rndtrash opened #1211 "Welcome: crash on startup"
**Reproduction:**
1. Open Welcome

**Stacktrace:**
[code]

[2020-02-12 14:47] JonArcherII commented on #981
Does this need to remain open? I haven't been able to reproduce and nobody else seems to have reported it AFAIK

[2020-02-12 16:15] diversys commented on #981
Can't repro anymore. Closing.

[2020-02-12 16:15] #981 closed

[2020-02-12 18:25] awesomekling commented on #1140
https://pubs.opengroup.org/onlinepubs/9699919799/functions/getrusage.html

[2020-02-12 18:25] awesomekling commented on #1142
https://pubs.opengroup.org/onlinepubs/9699919799/functions/getservbyname.html

[2020-02-13 10:39] willmcpherson2 opened #1215 "HackStudio: Assertion failure when hovering over filename bar"
**Reproduction:**
1. Open HackStudio
2. Hover your mouse over the bar at the top of the editor that says `main.cpp`. The problematic area is somewhere in the middle of the bar.

**Stacktrace:**
[code]

[2020-02-13 19:05] #1215 closed

[2020-02-14 20:11] howar6hill opened #1218 "Userland: A problem in the rm program"
@awesomekling @christopherdumas  It seems to me that the remove() function can only return 0 or 1. So the check on `s` is incorrect.
https://github.com/SerenityOS/serenity/blob/5884ef8425e21d66acfba2ffb3524d77599a2bc7/Userland/rm.cpp#L57-L59

Maybe it should be changed to
[code]

[2020-02-14 22:06] howar6hill opened #1219 "Userland: Problems in su program"
@awesomekling It seems the following two functions get their parameters wrong.
https://github.com/SerenityOS/serenity/blob/5884ef8425e21d66acfba2ffb3524d77599a2bc7/Userland/su.cpp#L73
https://github.com/SerenityOS/serenity/blob/5884ef8425e21d66acfba2ffb3524d77599a2bc7/Userland/su.cpp#L78

[2020-02-14 22:30] #1218 closed

[2020-02-14 22:30] #1219 closed

[2020-02-14 22:31] shannonbooth commented on #1219
Thanks for the reports :)

[2020-02-15 12:59] howar6hill opened #1223 "Userland: A small problem in the chmod program"
@xp10rd @awesomekling Since the `path` arguments are not actually comma separated, the usage string is a little confusing. The `path` arguments are actually space separated.
https://github.com/SerenityOS/serenity/blob/c624d3875ecfdcb77ea2cd69ff40a3a933da33d3/Userland/chmod.cpp#L83-L84

Maybe we should change it to
[code]

[2020-02-15 19:46] #1211 closed

[2020-02-16 08:51] #1112 closed

[2020-02-16 08:52] #1223 closed

[2020-02-16 08:53] awesomekling commented on #1208
Support for this is partly finished. The HTML view actually tracks the start and end of the selection, but it's not visualized in any way. It's also not possible to copy the selection yet.

[2020-02-17 06:44] gootik commented on #1146
Going to close this. Chan Viewer is working fine now.

[2020-02-17 06:44] #1146 closed

[2020-02-17 06:52] bugaevc opened #1230 "Boosting the active window is broken"
Now that the WIndowServer runs as its own user, it can no longer boost anon's processes.

With my microkernel fan hat on, the right way to solve this is "time" or "scheduling context" capabilities, which a thread can send to another thread, and that other thread would use to get scheduled.

With my "SerenityOS is a classic Unix" hat on, we don't want to go all the way there, but maybe we could hav

[2020-02-17 14:24] awesomekling opened #1231 "WindowServer: Programs spawned from the system menu run as "window""
Now that WindowServer runs as the "window" user, it will spawn new processes as "window" as well.

There are a number of ways to fix this:

1. Have WindowServer talk to a launcher service (SystemServer) and ask it to launch things on anon's behalf.
2. Move the system menu to a separate process (SystemMenu)
3. Move the entire menu to a separate process (MenuServer)
4. Separate window management fro

[2020-02-17 17:52] software2Daniel commented on #957
study naval engineering to know more enter this article I will speculate me scabs and the best university where you can study this career

https://sites.google.com/aprendizajesignificativo.org/ingnavaltop5/p%C3%A1gina-principal

[2020-02-17 19:20] #1231 closed

[2020-02-17 21:15] jcs opened #1234 "Add err/warn, switch from perror/ASSERT_NOT_REACHED"
A common pattern in use is:

[code]

The output of this looks like so:

[code]

The failure message of "open" is not very helpful without the filename it was trying to open, nor the program that output it when run from something like SystemServer.  I'd like to implement the [BSD family of error functions](http://man.openbsd.org/err) in Serenity's LibC (at least `err` and `warn` for now) which take

[2020-02-17 21:19] awesomekling commented on #1234
I like the idea and I think it would be even better if err() and warn() worked like dbg() so we don’t have to use format strings. :)

[2020-02-17 22:27] jcs commented on #1234
I thought I could get away with `err.h` defining the BSD interfaces of `err(int, const char *, ...)` and `AK/LogStream.h` defining `FatalErrorLogStream err(int);` to have `err(1) << "blah"` but clang doesn't seem to like that.  I guess we have to call the C++ `err` interface something else?

[2020-02-18 06:47] howar6hill opened #1236 "Man: a minor problem in the usage string"
@bugaevc @awesomekling I think it is better to change
https://github.com/SerenityOS/serenity/blob/0bb4111735a2fc22487f11f11ba27c00a1fc2366/Userland/man.cpp#L52
to
[code]

[2020-02-18 06:54] bugaevc commented on #1236
I think it's better to change this all to use `Core::ArgsParser` :smile: Would you want to try doing that?

[2020-02-18 06:57] howar6hill commented on #1236
@bugaevc OK. I will do it.

[2020-02-18 07:06] bugaevc commented on #1236
Please cc me when you make a PR to get me to review it :)

[2020-02-18 07:09] bugaevc commented on #1236
While you're at it, let's also change `Serenity manual` to `SerenityOS manual`

[2020-02-18 07:17] bugaevc opened #1237 "Purging is broken"
[code]

[code]

[2020-02-18 07:23] bugaevc commented on #1234
Why not have *just* the C++ `err` and `warn`, without the C functions?

I'm not sure it's that nice if they exit automatically; I can call `exit(1)` on the next line explicitly. OTOH `ASSERT_NOT_REACHED()` prints a nice stack trace to the console so you know immediately where the problem was [detected] *in the code*.

[2020-02-18 07:33] xTibor opened #1238 "WindowServer: Pressing Logo key while hovering the system menu leads to weird menu behaviour"
https://streamable.com/1k3tc

**Reproduction:**
1. Open the system menu and hover a submenu item, for example Utilities->Help.
2. Press the Logo key
3. Move the mouse around

[2020-02-18 08:52] awesomekling commented on #1238
Yeah that's pretty goofy. cc @shannonbooth

[2020-02-18 08:56] #1237 closed

[2020-02-18 08:59] awesomekling commented on #1234
I agree with @bugaevc, I think we should do just the C++ variants.

It does seem neat to have a variant that exits automatically, although perhaps we could call it something even more ominous like `fatal()` to really drive the point home.

[2020-02-18 08:59] awesomekling commented on #1234
Oh, and getting stack traces is v nice. But we can just make these guys call `dump_backtrace()` before the auto exit.

[2020-02-18 11:23] #1236 closed

[2020-02-18 17:13] jcs commented on #1186
:man_shrugging:

[2020-02-18 17:13] #1186 closed

[2020-02-18 17:14] jcs commented on #1234
If you don't want it to exit, that's what `warn` is for.  `err` just calls `warn` and then exits.  But if we don't want the BSD interfaces for compatibility, then I'll come up with something else with a different name and open a PR.

[2020-02-18 17:14] #1234 closed

[2020-02-18 17:16] bugaevc commented on #1186
Maybe you should fix that on OpenBSD side :D

[2020-02-18 17:21] jcs commented on #1186
I'm sure there's software out there relying on the way `SO_PEERCRED` works currently on Linux and OpenBSD, so it's not going to change there.  Maybe Serenity should use `LOCAL_PEERPID` if it wants the macOS-like behaviour of pid selection.

[2020-02-19 09:30] shannonbooth commented on #1238
I think I know what the issue is, but I may have seen another related issue while testing. Might not actually be the root cause.. Might need to have a look at it a little more to be certain I'm not just band-aiding it.

[2020-02-19 09:31] howar6hill opened #1246 "Userland: Usage string in the host program"
@awesomekling `argv[1]` could also be IPv4 address, so this seems inaccurate.
https://github.com/SerenityOS/serenity/blob/ca4d4cac45eb3d5f6999eebd8cb0b358afce235c/Userland/host.cpp#L42

[2020-02-19 10:29] howar6hill opened #1247 "Userland: Bug in the lspci program"
@deoxxa @awesomekling In code below, `db` could be null, and causes UB.
https://github.com/SerenityOS/serenity/blob/ca4d4cac45eb3d5f6999eebd8cb0b358afce235c/Userland/lspci.cpp#L85
https://github.com/SerenityOS/serenity/blob/ca4d4cac45eb3d5f6999eebd8cb0b358afce235c/Userland/lspci.cpp#L90
https://github.com/SerenityOS/serenity/blob/ca4d4cac45eb3d5f6999eebd8cb0b358afce235c/Userland/lspci.cpp#L95

if

[2020-02-19 10:51] howar6hill commented on #1247
If needed, I'd like to fix this bug.

[2020-02-19 10:55] howar6hill commented on #1246
Maybe it is better to change to
[code]
Or we should switch to Core::ArgsParser?
If needed, I'd like to work on this.

[2020-02-19 12:15] xTibor opened #1249 "Covered windows are not getting redrawn on theme changes"
**Reproduction:**
As straightforward as the title states. Cover a window with an another larger window then change the system theme.

https://streamable.com/1sgaj

[2020-02-19 13:54] awesomekling commented on #1247
Go for it

[2020-02-19 13:55] awesomekling commented on #1246
Sure, just go for it

[2020-02-20 06:42] awesomekling opened #1253 "Kernel: mkdir with trailing slash does not work"
This breaks `git init .`, which tries to do a bunch of calls like `mkdir(".git/info/")`

cc @bugaevc

[2020-02-20 06:50] bugaevc commented on #1253
Uh I'm not actually should if it *should* work.

You wouldn't expect `mkdir("/foo/bar/..")` to succeed (and create `/foo`), right? I'd say you can mention one non-existent component at the very end, if this is the call creating it, but it's -`ENOENT` as soon as you try to step into it. And POSIX says

So we're effectively dealing with `mkdir("/foo/.")`

Yes on the other hand, if other systems allo

[2020-02-20 06:52] bugaevc commented on #1253
[Linux man page](http://man7.org/linux/man-pages/man7/path_resolution.7.html) seems to agree with me:

[2020-02-20 06:54] bugaevc commented on #1253
Yes this clearly does work on Linux:

`mkdir("/tmp/foo/.git/hooks/", 0777)     = 0`

[2020-02-20 06:59] bugaevc commented on #1253
[Aha](https://pubs.opengroup.org/onlinepubs/9699919799/xrat/V4_xbd_chap04.html#tag_21_04_13):

[2020-02-20 07:14] bugaevc commented on #1253
But that's not super straightforward either:
* `VFS::resolve_path("/foo/bar/")` would fail with ENOENT and parent custody = "/foo"
* if the caller was `mkdir("/foo/bar/")`, then it's OK and we create `bar` inside `/foo`
* but if the caller was something else like `create("/foo/bar/")`, it should know to fail with `-ENOENT` instead of creating `bar` inside `/foo`

[2020-02-20 08:28] bugaevc commented on #1253
I'd say, let's just cheat and trim the slash in `VFS::mkdir()` before resolving any paths

[2020-02-20 09:21] awesomekling commented on #1253
Yeah cheating doesn't seem unreasonable.

[2020-02-20 09:55] bugaevc commented on #1253
But then `rename("foo", "bar/")` should also work as long as `"foo"` resolves to a directory...

Damn it POSIX!

[2020-02-20 13:40] bugaevc commented on #1253
No it should not, I misread wheat POSIX wsa saying!

Yet it succeeds under Linux:

`renameat2(AT_FDCWD, "foo/bar", AT_FDCWD, "foo/barr/", RENAME_NOREPLACE) = 0`

[2020-02-20 14:11] #1238 closed

[2020-02-20 14:12] #1246 closed

[2020-02-20 14:13] #1247 closed

[2020-02-20 18:13] #1253 closed

[2020-02-21 02:21] howar6hill opened #1257 "Question: Exception is not used"
It seems exception is not used in this project. I want to understand why?

[2020-02-21 04:47] bugaevc commented on #1257
Recommended reading: http://joeduffyblog.com/2016/02/07/the-error-model/

[2020-02-21 05:24] willmcpherson2 commented on #1257
We discussed this a bit on the IRC channel
https://freenode.logbot.info/serenityos/20191214#c2968795

[2020-02-21 06:00] howar6hill commented on #1257
Thanks!

[2020-02-21 06:16] #1257 closed

[2020-02-21 06:40] xTibor opened #1258 "Help: Sort manual pages in the tree view"
They are currently shown in directory order. Would be better to sort them alphabetically.

[2020-02-21 06:59] xTibor opened #1259 "Help: Window title updated incorrectly"
When opening a manual page the Help app sets the window title based on the currently selected tree view node, not the actual manual page path passed to the `open_page` function. This causes incorrect window titles when following hyperlinks in the document or navigating through the history.

[2020-02-21 07:52] shannonbooth commented on #1259
I think it would make sense if following a hyperlink in About would update the tree view selection to that item.

[2020-02-21 07:54] shannonbooth commented on #1259
Also, following some of the hyperlinks in About seems to lead to a blank page for me? e.g the mount(8) link in mount(2) - and vice versa

[2020-02-21 07:58] xTibor commented on #1259
The blank pages are caused by the `../` unveil bug.

[2020-02-21 08:21] shannonbooth opened #1260 "Kernel: Unveil does not handle "../""
Already a known issue, but making for visibility in case someone wants to work on it.
https://github.com/SerenityOS/serenity/blob/1d2986ea15eab8ea8b8855147a16de7662729f31/Kernel/FileSystem/VirtualFileSystem.cpp#L724-L726

Effectively the kernel will always reject any paths containing a "../" if the process has a veil, but the final resolved path may still be valid. In these cases the kernel should

[2020-02-21 08:28] shannonbooth commented on #1259
Made #1260 as I forgot about that bug. Kinda makes me want to do some Kernel work, but me reckons I already do enough low level kernel/bootloader work at my day job. IAlways nice to write some higher level code every so often.

[2020-02-21 09:23] xTibor opened #1261 "Minesweeper: Sanity check game parameters from the config file"
Currently it's possible to specify invalid game parameters in `Minesweeper.ini` like zero mines, more mines than available squares, zero sized field, etc.

[2020-02-21 09:40] howar6hill opened #1262 "Userland: redundant code in the truncate program"
@awesomekling This line is not needed.
https://github.com/SerenityOS/serenity/blob/1d2986ea15eab8ea8b8855147a16de7662729f31/Userland/truncate.cpp#L94
As `op` is initialized to `OP_Set`
https://github.com/SerenityOS/serenity/blob/1d2986ea15eab8ea8b8855147a16de7662729f31/Userland/truncate.cpp#L61

[2020-02-21 10:15] xTibor opened #1263 "Calculator: Handle overflows more gracefully"
When the result of calculations are beyond plus/minus 31-bits Calculator returns weird malformed results.

**Reproduction:**
[code]

[code]

![Screenshot_20200221_104547](https://user-images.githubusercontent.com/1627292/75025389-65096500-549b-11ea-8ae1-8bb1d64abc0f.png)

[2020-02-21 10:32] howar6hill opened #1264 "FileSystemPath: Some questions"
@awesomekling  Maybe it is better to declare `canonicalized_path()`  as a static function, since it does not access any data member?
https://github.com/SerenityOS/serenity/blob/1d2986ea15eab8ea8b8855147a16de7662729f31/AK/FileSystemPath.h#L63
The specified path is always valid, no matter what?
https://github.com/SerenityOS/serenity/blob/1d2986ea15eab8ea8b8855147a16de7662729f31/AK/FileSystemPath.cpp

[2020-02-21 10:38] howar6hill opened #1265 "Userkand: lstat failure ignored"
@awesomekling What if `rc != 0`?
https://github.com/SerenityOS/serenity/blob/1d2986ea15eab8ea8b8855147a16de7662729f31/Userland/mv.cpp#L49-L55

[2020-02-21 14:07] DrewStratford opened #1267 "ProcFS: race condition in procfs$all"
**Steps to reproduce:**
1. Open two System monitors and set each's frequency to 0.25
2. Run the program below with an argument of 200.
[code]

**What should happen:**
The program will run for a bit before one of the SystemMonitors crash. The crash is not guranteed so you may have to repeat step 2 multiple times.
The crash log should be similar to this:
[code]

**What's happening**
The SystemMonito

[2020-02-21 14:16] #1265 closed

[2020-02-21 14:36] bugaevc commented on #1267
:thinking:

[2020-02-22 02:46] thatlittlegit opened #1270 "Colours messed up when run by execl/execv/etc."
I'm writing a program that aims to show a dialog to the user, and if they answer yes run a program. The program could be graphical, command-line, anything.

However, I'm having issues with graphical programs not using the right theme. They show up with odd colours, but are fixed if you change the system theme. Putting the graphical code into its own scope also seems to change the colour of the rul

[2020-02-22 06:23] awesomekling commented on #1262
Sure. But it's also harmless. Feel free to make a PR if you want to remove it :)

[2020-02-22 11:29] #1270 closed

[2020-02-22 11:32] awesomekling commented on #1264
This generates a non-valid `FileSystemPath`:

[code]

`canonicalized_path` is already a free function and cannot be made `static`.

[2020-02-22 11:32] #1264 closed

[2020-02-22 13:51] xTibor opened #1271 "LibGUI: Table headers doesn't take horizontal scroll into account on mouse events"
**Reproduction:**
Find a table view with horizontal scrollbars somewhere (FileManager, SystemMonitor, etc.), scroll it sideways then mouse over the table header.

![Screenshot_20200222_142404](https://user-images.githubusercontent.com/1627292/75093518-b80a1780-5582-11ea-86a9-eba7b2c21a48.png)

[2020-02-22 14:04] #1271 closed

[2020-02-22 15:21] thatlittlegit opened #1272 "Other non-root users can't open GUI applications"
Attempting to open a GUI application as a non-root non-`anon` user fails, seemingly because it can't connect to a socket. I'm not sure if this is a bug or not — it could totally be intended behaviour — but it probably should be noted somewhere if it is.

[code]

[2020-02-22 15:22] awesomekling commented on #1272
It's intended behavior. Only users in the `window` group can connect to `WindowServer`.
This is because the IPC socket at `/tmp/portal/window` is group-rw and owned by the `window` group :)

[2020-02-22 15:23] thatlittlegit commented on #1272
So if I want to simulate another user opening a graphical program, I should add them to the `window` group?

[2020-02-22 15:26] thatlittlegit commented on #1272
That does seem to work. Maybe it should be added to the error message somewhere? Like:
[code]

[2020-02-22 15:41] awesomekling commented on #1272
Sure, but let's assume the user is technically savvy and simply tell him which socket address is refusing. :)

[2020-02-22 15:41] #1272 closed

[2020-02-22 15:44] JonArcherII opened #1273 "HackStudio: Themeable colors!"
I think we should be able to customize HackStudio’s colors, and at least at a minimum, make it look nicer with the dark system theme ;)

[2020-02-22 15:45] awesomekling commented on #1273
Heck yes we should :+1: :)

[2020-02-23 00:19] DrewStratford opened #1278 "Zombie processes break ps"
Creating a zombie process and then running ps will cause ps to fail an assertion.
[code]
Also, system monitor doesn't seem to be showing zombie processes, which may be related.

[2020-02-23 05:46] #1262 closed

[2020-02-23 12:33] xTibor opened #1283 "FilePicker: Add an "icon view with thumbnails" mode (like FileManager)"
The file-chooser should be able to share the "icon view" feature used in FileManager, so that you can choose between list view and icon view (with thumbnails).

This would be extremely useful when browsing for images, for example in PaintBrush.

[2020-02-24 08:10] willmcpherson2 opened #1286 "LibGUI: nullptr dereference in GUI::MessageBox::show()"
Some things like FilePicker and SoundPlayer are calling show() with the default argument `Core::Object* parent = nullptr` which gets dereferenced here:
https://github.com/SerenityOS/serenity/blob/525f8df5b83c2fea262af4e382dd8eb0f7664d1e/Libraries/LibGUI/MessageBox.cpp#L38

[2020-02-24 08:29] awesomekling commented on #1286
Fixed in 3252a6925e040fc3986d1e079c8676f57e75aa9e

[2020-02-24 08:29] #1286 closed

[2020-02-24 20:26] #1283 closed

[2020-02-24 21:09] diversys opened #1289 "Close window on double clicking window icon"
It would be handy if double clicking a window icon would close current window/app.

[2020-02-25 05:34] howar6hill opened #1291 "Core: A typo in DateTime"
@awesomekling The following line has a typo.
https://github.com/SerenityOS/serenity/blob/ab9a0780e35a027893c26cd187f93530ca2ffe33/Libraries/LibCore/DateTime.cpp#L56
It should be
[code]

Moreover, I think it is best to provide a `format()` function for this class to output a formatted date time string according to user-provided format. Such a function could be used by the `date` program.

[2020-02-25 05:35] howar6hill commented on #1291
If needed, I'd like to work on this issue.

[2020-02-25 07:40] shannonbooth commented on #1291
Go for it man, you can always just open a PR with the fix instead making an issue :) You've already done all the hard work anyway..

[2020-02-25 08:53] awesomekling commented on #1291
Indeed, you can just open a PR. Also, you don't need to tag me in every post, I am watching the project and get notified about everything anyway :)

[2020-02-25 11:45] danboid commented on #1289
Is it just me that doesn't understand this or why you'd want this feature?

This kinda reminds of FF/Chromes closing tabs with a middle click which annoys the hell out of me, if you mean what I think you do.

[2020-02-25 11:47] Pulgovisk commented on #1289
@danboid Windows has this feature. It's "useless", but sometimes save some time.

[2020-02-25 12:32] bugaevc commented on #1289
Let's not have this, it's not intuitive at all. We have a close button for a reason.

I wouldn't be against making middle-click closing windows though, exactly because this is already familiar from how I use the browser, and it brings additional value — the whole titlebar is large, so you don't have to hunt for that close button.

[2020-02-25 12:53] bugaevc opened #1293 "Killability manifesto"
When executing in the kernel, threads can block waiting for something, such as a lock, or a socket becoming readable, or a device responding (IRQ). Such a wait should always support being *interrupted*, or *cancelled*. This usually happens when the thread receives a signal. In some cases, such a signal is not *fatal* to the thread, and the thread could continue working after handling the signal.

[2020-02-25 13:07] bugaevc commented on #1293
There's been talk about using timeouts to prevent hangs. While timeouts sound like a good idea, they're not a replacement for killability: timeouts are an *internal* anti-hang mechanism, where a thread or a queue can detect that something went wrong and try to handle it, whereas killability is an *external* mechanism: something (the user, or SystemServer if it gains watchdog abilities) has detecte

[2020-02-25 15:19] DAlperin commented on #1149
Closed by #1201

[2020-02-25 15:19] #1149 closed

[2020-02-25 19:20] awesomekling commented on #121
This was fixed in f88fe5dc3feba0a6a3e79fbd5dcee538d5e42d95

[2020-02-25 19:20] #121 closed

[2020-02-26 08:31] #1291 closed

[2020-02-26 10:33] awesomekling commented on #1261
Fixed by #1300

[2020-02-26 10:33] #1261 closed

[2020-02-26 10:52] Quaker762 commented on #490
@bugaevc Can this issue be closed now?!

[2020-02-26 10:54] howar6hill opened #1304 "Question: What's the best way to debug in this project?"
There's no guide that I can find.
I wonder what is the most efficient method, especially if I'm writing a library function.

[2020-02-26 11:08] Quaker762 commented on #1304
At this point in time, unless you're debugging yhe kernel you'll need to rely on `printf` style debugging. We don't have `gdbserver` implemented, meaning it's impossible to remotely (or locally) debug userspace.

[2020-02-26 11:09] bugaevc commented on #490
Maybe? We still don't have a way to type emojis, and text editor still doesn't support them

[2020-02-26 11:36] howar6hill commented on #1304
I'm curious how to debug the kernel.

[2020-02-26 11:42] willmcpherson2 commented on #1304
- dbg()
- dbgprintf()
- ASSERT()
- ASSERT_NOT_REACHED()
- SystemMonitor's "Stacks" to see where you're stuck in a loop
- SystemMonitor's memory usage graph to detect memory leaks
- profile and ProfileViewer for performance analysis

[2020-02-26 11:56] howar6hill commented on #1304
Thanks!

[2020-02-26 12:11] Quaker762 commented on #1304
Run `debug_kernel` in the kernel directory. It'll open up a GDB window.

[2020-02-26 14:06] xTibor opened #1306 "WindowServer: Resize candidate windows are not cleared correctly"
**Reproduction:**

Drag the top border of any resizable window onto the system menubar. After releasing the mouse button the cursor shape should remain the resize cursor indicating that the resize candidate hasn't been cleared. This incorrect state persist while hovering the menubar and the dropdown menus.

There's an another harder way to reproduce it without window resizing, but that requires mo

[2020-02-26 14:08] howar6hill opened #1307 "Question: how to compile added files?"
If I add a source file and a header file in the AK directory, what files do I need to edit to get the added files compiled?

`makeall.sh` didn't compile them.

[2020-02-26 17:17] bugaevc commented on #1307
Makefile's in LibC and/or the kernel.

[2020-02-26 18:03] diversys commented on #1289
I see it as a convenience shortcut for the cases when cursor happens to be near the window icon. This is also helpful when a window is partially off-screen, so you don't have to drag it back first to be able to close it with normal close button.

[2020-02-26 21:55] supercomputer7 commented on #1304
In the kernel space, the intention is not use `dbgprintf()` but `dbg()`. AFAIK, you can use `dbg()` just fine in userspace too, therefore there's no need to use `dbgprintf()` there too.

[2020-02-26 22:17] supercomputer7 commented on #1293
We talked about this in the IRC channel. Essentially you don't want that threads can hang because they have an excuse of "I'm waiting for IRQ, you can't kill me now".
However, do notice that things are not very simple, an killing a Queued thread isn't trivial.
Currently the current code in some drivers (e.g. `PATAChannel`) can handle failure to a very limited extent. If for some reason we don't re

[2020-02-27 01:00] JonArcherII opened #1310 "Browser: HTTPS"
Would be nifty to (one day) view Serenity's GitHub page within Serenity (even without JS) 😄

[2020-02-27 01:41] supercomputer7 commented on #1310
That'd be very nice for sure :)

[2020-02-27 04:43] willmcpherson2 commented on #1289
I vote for middle-click on the taskbar and titlebar

[2020-02-27 07:07] danboid commented on #1289
The window icon menu already has a close option. That seems sufficient to me.

It shouldn't be too easy to close windows by accident IMO. It really frustrates me when I accidentally close browser tabs via middle click even though I can pretty easily re-open the the tab. I've always wanted to disable this feature in browsers and I don't want Serenity to replicate it.

If someone does add this, plea

[2020-02-27 07:14] bugaevc commented on #1310
We're not going to have HTTPS, not unless you install a port that implements SSL/TLS.

[2020-02-27 08:31] willmcpherson2 opened #1312 "kill: Accepts invalid PIDs"
**Reproduction**
[code]
That's 2^31, so this must be due to `pid_t` being an `int`? And/or `kill` calling `to_uint()`?

[code]

[2020-02-27 08:49] willmcpherson2 opened #1313 "Kernel: Poor support for zombie processes"
**Reproduction**
1. Open an application from the system menu
2. Run `ps` to get the PID of the application
3. Close the application
4. Do something with the PID. `profile -p 20 -e` is a segfault, `ps` is an `ASSERT()` and `kill 20` is a kernel `ASSERT()`:

[code]

[2020-02-27 08:52] awesomekling commented on #1313
This happens because `SystemMenu` does not `wait()` on its children! I'm glad you filed this bug, looks like a proper bug nest :D

[2020-02-27 08:53] willmcpherson2 commented on #1313
$5 in there somewhere...

[2020-02-27 09:02] #1312 closed

[2020-02-27 09:37] #1278 closed

[2020-02-27 09:42] howar6hill commented on #1307
@bugaevc Suppose I add a `Foo.cpp`, it seems I need to generate a `Foo.host.o`. What should I do?

[2020-02-27 09:58] bugaevc commented on #1307
Do you want to build it *on the host* for something?

Depending on what you're going to use it for on the host, add it to https://github.com/SerenityOS/serenity/blob/master/AK/Tests/Makefile or https://github.com/SerenityOS/serenity/blob/master/DevTools/IPCCompiler/Makefile or somewhere like that

[2020-02-27 10:04] #1313 closed

[2020-02-27 10:52] awesomekling commented on #1310
Or if somebody implements an SSL/TLS library. :)

[2020-02-27 20:07] #1304 closed

[2020-02-27 20:08] #1307 closed

[2020-02-27 20:55] JonArcherII commented on #1310
Well, `openSSL` has already been ported ;)

[2020-02-28 11:16] #451 closed

[2020-02-28 12:08] awesomekling opened #1321 "Kernel: Hangs with "Unhandled vector 15" when browsing the web"
To reproduce:

1. Open Browser
2. Go to http://serenityos.org/
3. Click on the "Happy 1st birthday" link

Some stuff loads, then we get this message and the machine hangs:
[code]

cc @supercomputer7

[2020-02-28 12:40] supercomputer7 commented on #1321
https://wiki.osdev.org/8259_PIC#Spurious_IRQs
It's probably a spurious IRQ happening due to a malfunction somewhere in the code. I'll implement an handler for such type of IRQs, but there is a problem somewhere in the EOI code (probably). I'll check it.

[2020-02-28 18:53] awesomekling commented on #181
Oh wait this is already available via the `ifconfig` command.

[2020-02-28 18:53] #181 closed

[2020-02-28 22:26] #1045 closed

[2020-02-29 07:17] ADKaster opened #1326 "Kernel: Sending SIGSTOP followed by SIGCONT to a sleeping process crashes the Kernel"
1) Open a second terminal, run `sleep 100`
2) Find pid of sleep
3) kill -19 \<sleeping process\>
4) ps --> Sleeping process is now Stopped
5) kill -18 \<sleeping process\>
💥

[code]

[2020-02-29 07:19] ADKaster commented on #1326
Thread::BlockResult::WokeNormally is "clearly" wrong. The block was interrupted by SIGCONT. So, should be Thread::BlockResult::InterruptedBySignal?

[2020-02-29 08:37] bugaevc commented on #1326
I don't think `SIGSTOP` + `SIGCONT` should be visible to the process — the syscall should just proceed as if nothing happened. Use `SIGINT` or something if you want to actually interrupt another process/threads blocking syscall.

[2020-02-29 08:51] ADKaster commented on #1326
It definitely shouldn't crash the entire kernel to send those signals to a process though... I was trying to look into ,job control a la SIGTSTP, SIGTTOU and SIGTTIN and figured checking SIGSTOP and SIGCONT would be a good place to start.

[2020-02-29 08:54] ADKaster commented on #1326
On that note if you want to render a Shell completely unresponsive and unrecoverable just start a process in it and press ctrl + z :)

[2020-02-29 13:57] Quaker762 opened #1327 "Kernel: x86_64 port"
Alright dudes and dudettes , it's time we take a big step forward into the 21st century. I'm going to start porting a fair bit of the kernel to the `x86_64/amd64` platform. A PDF of the specification can be found here: https://www.amd.com/system/files/TechDocs/24593.pdf

A fair chunk of stuff is going to have to be modified, mostly related to some of the kernel backend stuff, mostly in the `VM` fo

[2020-02-29 19:06] supercomputer7 commented on #1327
That's really a nice feature :)
With a bigger virtual address space, we should allow mapping regions in much higher virtual addresses. Also, we should be able to use MMIO regions above 4G if allowed (AHCI & NVMe are good candidates).

[2020-02-29 19:08] supercomputer7 commented on #1321
We're not done yet. Now Spurious IRQs will be handled, but we need to make sure they don't appear at all. For that, we should enable the IOAPIC & MSIs if possible, since Spurious IRQs are mostly related to timing issues of IRQs.

[2020-03-01 13:21] #1306 closed

[2020-03-01 13:25] awesomekling opened #1329 "Piano: Play/pause/stop"
Would be nice to be able to play/pause/stop so I don't have to wait for the loop to cycle around. :)

[2020-03-01 13:25] awesomekling commented on #1329
cc @willmcpherson2

[2020-03-01 13:26] awesomekling opened #1330 "Piano: BPM setting"
This would obviously be nice to have!

cc @willmcpherson2

[2020-03-01 13:29] awesomekling opened #1331 "Piano: Save/load songs"
cc @willmcpherson2

[2020-03-01 13:30] awesomekling opened #1332 "Piano: Multi-track songs"
Multi-track recording would be really cool :)

cc @willmcpherson2

[2020-03-01 13:50] willmcpherson2 commented on #1331
@awesomekling JSON?

[2020-03-01 13:56] willmcpherson2 commented on #1332
@awesomekling
I actually did a rough implementation of this but decided the new timing system 72cbbd5 was needed first. Currently reimplementing, 50% done

[2020-03-01 14:15] #1326 closed

[2020-03-01 14:28] JonArcherII commented on #1331
MIDI?

[2020-03-01 15:31] willmcpherson2 commented on #1331
@JonArcherII
MIDI files should definitely be supported but they're not quite capable of storing all the information we need. Most DAWs support MIDI files along with their own custom file format.

[2020-03-01 15:41] xTibor commented on #1331
MIDI files are capable to store any kind of info in SysEx messages. Cumbersome but doable.

[2020-03-01 15:42] awesomekling commented on #1331
Let's not make things unnecessarily difficult for ourselves though :) A custom JSON-based file format is fine, too. MIDI import/export would be a cool feature.

[2020-03-02 02:36] ADKaster commented on #1327
This is gonna make dynamic libraries even harder :D. And doing TLS in userspace.  Since, TLS and relocations happen differently in x86 than x86_64. Is the plan to make the OS 64 bit with a 32-bit userspace first? Will also raise concerns with any 'bootloader JIT linker' ideas on the table.

[2020-03-02 05:58] howar6hill opened #1335 "AK: superfluous explicit in Bitmap"
Is `explicit` needed here?
https://github.com/SerenityOS/serenity/blob/12504b52d2143cafa622abcb3856286aefdada56/AK/Bitmap.h#L202
https://github.com/SerenityOS/serenity/blob/12504b52d2143cafa622abcb3856286aefdada56/AK/Bitmap.h#L209

[2020-03-02 08:09] shannonbooth opened #1336 "Kernel: ReadFromFreedMemoryStillCachedByMalloc is not crashing"
To reproduce run either `crash -A` or `crash -x` and get a `DidNotCrash` error.

[2020-03-02 08:45] #1335 closed

[2020-03-03 09:49] xTibor opened #1342 "LibGfx: Gradients shouldn't be interpolated in sRGB"
The sRGB color space that LibGfx uses to represent color values is a non-linear color space, interpolating between these gamma-compressed colors yields incorrect results. The effect of this is noticable around the center of LibGfx gradients as a large drop in color brightness.

It would be better to linearize the color space before doing any color transformations for the gradients.

[2020-03-03 10:29] Quaker762 commented on #1327
Yeah, at the moment I'm just modifying Kernel related stuff/getting it to boot.

[2020-03-03 15:39] #775 closed

[2020-03-03 18:34] marprok opened #1344 "AK library documentation"
Every pull request I make, I end up getting told by @awesomekling to swap a piece of code with an existing on from the AK library. Wouldn't it be cool to have a Doxygen like documentation in which someone can search for something to see if it already exists in AK? I know I can grep the project to see if something exists but a documentation is always useful I think, especially it it documents a C++

[2020-03-04 09:28] willmcpherson2 commented on #1344
I've been thinking the same thing, but for source code in general. I like that Serenity code is easy to read and rarely needs comments, but some out-of-the-way documentation could be really nice. Documenting things really helps me to understand them.
My only objection is that it might be a little premature. Things are still changing pretty quickly.

In the meantime, I would highly recommend using

[2020-03-04 10:13] marprok commented on #1344
This might be what I need and thank you for the tip :D

I think that a simple dictionary like documentation would be doable at this stage. It will contain only the data structures, the general algorithms( e.g quick_sort, binary_search ) and the tools (e.g Bitmap) that are available and should be used when possible. The dictionary can point to the specific source file for further reference.

[2020-03-05 15:52] nibblebits opened #1351 "Filesystem implementation"
This is not really a bug as such but its just a suggestion, I also haven't studied this code very long so I could be wrong.

I noticed some of your filesystems extend the disk backed operating system class. I assume this means a filesystem that is on disk?

My suggestion is wouldn't it make more sense to abstract that out entirely rather than extend the disk backed operating system. You may want E

[2020-03-05 15:59] supercomputer7 commented on #1327
It might complicates things with 'bootloader JIT linker' idea, but, it will make it much more easier to do KASLR (which is why we want a 'bootloader JIT linker' at all) if we have a huge virtual address space to map the kernel in it. I could see some concerns related with it, but do you notice a significant problem (or problems) for the 'bootloader JIT linker' idea with x86_64?

[2020-03-05 16:05] supercomputer7 commented on #1351
@bugaevc suggested the idea of changing the filesystems to be backed with files in the IRC channel sometime ago.
About the FAT32 - It would be very nice if you can work on this, though it's your choice and you're free to work on other things, if you want to :)

[2020-03-05 16:09] ADKaster commented on #1327
linker' idea with x86_64?

With the actual implementation of the core bootloader JIT linker, no. But,
it won't be "as straightforward" (for some definition of straightforward)
to simply re-use the existing ELFDynamicObject and ELFDynamicLoader classes
for x86_64 relocations in kennel space as it might be for x86. There would
be to be some #ifdef or similar compilation to handle the relocation
diff

[2020-03-05 16:15] awesomekling commented on #1351
There's always room for more :)

[2020-03-05 16:16] nibblebits commented on #1351
Great news, I'll fork your repo shortly and when I find the time I'll implement FAT32, its a fairly simple file system

Many thanks

[2020-03-05 18:47] agoose77 opened #1354 "Missing check for removed widget (?)"
Hi Andreas,

I noticed whilst watching your video that you don't check whether `m_global_cursor_tracking_widget` or `m_automatic_cursor_tracking_widget` are equal to the removed widget before clearing them. I'm not familiar with Serenity, but wondered if this is intentional?

https://github.com/SerenityOS/serenity/blob/c982bfee7e992775b9484f87bbfcdbe56cb66f03/Libraries/LibGUI/Window.cpp#L698-L701

[2020-03-05 18:50] #1354 closed

[2020-03-05 18:51] awesomekling commented on #1354
You're absolutely right, thank you for filing the issue :D

[2020-03-05 18:52] agoose77 commented on #1354
Oh my goodness that was unnervingly fast. I'm enjoying developing an OS by-proxy, thanks for all the hard work (and to the other contributors as well)!

[2020-03-05 20:36] polygonalenippel commented on #877
Any updates on this front?

[2020-03-06 03:18] howar6hill opened #1356 "AK: Issues in StringBuilder"
Maybe we should declare these two member functions
https://github.com/SerenityOS/serenity/blob/211e938234085b30c976f117bba2f9899da34865/AK/StringBuilder.h#L48-L49
as
[code]

[2020-03-06 03:18] howar6hill commented on #1356
The implementation of `to_byte_buffer()` is confusing.
https://github.com/SerenityOS/serenity/blob/211e938234085b30c976f117bba2f9899da34865/AK/StringBuilder.cpp#L87-L92
This has the counterintuitive effect of clearing the StringBuilder.
Maybe it's better to change to
[code]
or
[code]

[2020-03-06 03:22] howar6hill commented on #1356
The `m_buffer` already has size information, do we really need this `m_length` member?
https://github.com/SerenityOS/serenity/blob/211e938234085b30c976f117bba2f9899da34865/AK/StringBuilder.h#L62-L63

[2020-03-06 03:28] howar6hill commented on #1356
This  implementation of `trim()` function causes the size of `m_buffer` to be inconsistent with the size of the `StringBuilder`, which is confusing.
https://github.com/SerenityOS/serenity/blob/211e938234085b30c976f117bba2f9899da34865/AK/StringBuilder.h#L57

[2020-03-06 03:37] howar6hill commented on #1356
https://github.com/SerenityOS/serenity/blob/211e938234085b30c976f117bba2f9899da34865/AK/StringBuilder.cpp#L54-L61
This could be reduced to
[code]
to reduce code duplication.

[2020-03-06 04:07] howar6hill commented on #1356
It could be that the string to be appended is much longer than `strlen(fmt)`, so the amount of memory is not sufficient.
https://github.com/SerenityOS/serenity/blob/211e938234085b30c976f117bba2f9899da34865/AK/StringBuilder.cpp#L82

[2020-03-06 04:33] howar6hill commented on #1356
If these concerns are well founded, I'd like to work on this.

[2020-03-06 07:29] marprok commented on #1356
Maybe there could be two version of the method, one returning a copy and one passing ownership of the buffer to the caller.

[2020-03-06 07:34] awesomekling commented on #1356
@howar6hill your proposed changes sound good :)

However...

It's just a guess, it doesn't have to be 100% correct as we will grow the buffer dynamically if we need more space. :)

[2020-03-06 08:55] howar6hill commented on #1356
@awesomekling  If we provide a const version and a non-const version, the non-const version will be almost always
selected, since a StringBuilder is almost always non-const?

[2020-03-06 08:57] awesomekling commented on #1356
I don't think a non-const version is useful. The internal storage of `StringBuilder` is a `ByteBuffer` so you have to construct a new object when calling `to_string()` anyway. I don't think there's any benefit to making that operation implicitly destructive.

[2020-03-06 09:05] howar6hill commented on #1356
After a call to `to_byte_buffer()`, the StringBuilder will be empty. This seems a little strange to me.

[2020-03-06 09:08] howar6hill commented on #1356
I meant a const version and a non-const version of `to_byte_buffer()`  as in the above.

[2020-03-06 09:12] awesomekling commented on #1356
Hmm. It's a little bit weird. The `to_byte_buffer()` API is really confusing.
If you call `to_string()`, and then keep appending to the `StringBuilder`, the string you got from `to_string()` is unchanged.
If you call `to_byte_buffer()` and then keep appending to the `StringBuilder`, the `ByteBuffer` you got from `to_byte_buffer()` will change!

This is really bad API and we should probably just ma

[2020-03-06 09:13] #1336 closed

[2020-03-06 09:35] jay51 commented on #216
I had the same problem, I was able to fix it by installing `texinfo` as @awesomekling said and deleting everything and pulling again.
os: lubuntu 19.04

[2020-03-06 11:44] howar6hill opened #1359 "LibC: time() returns wrong timestamp"
`Core::DateTime::now().to_string()` gave me `2020-03-06 10:31:33`.
Actually, it was `2020-03-06 11:31:33` in UTC, `2020-03-06 19:31:33` in my timezone.

The hour part is often wrong, while other parts are fine.
I have traced the problem to `time()`. It often returns a wrong timestamp.

[2020-03-06 16:21] xTibor opened #1365 "FileManager: Disable actions/controls when have no permission to use them"
Instead of throwing "Permission denied" popups after the user tried to use those features.

Affected actions/controls:
- New directory action
- Paste action
- Delete actions
- File name textbox in properties
- Permission checkboxes in properties

[2020-03-06 19:31] supercomputer7 commented on #1321
@awesomekling and I talked about the Spurious IRQs' bug today, and I start to think it's not about the fact that we use the PIC (which should be slower than the APIC on real hardware), but due to the fact that priorities are handled so IRQ0 is more important than IRQ10 for example. The network card is connected to IRQ11 AFAIK in the i440fx QEMU machine type, therefore, it could be related to that.

[2020-03-07 13:04] xTibor opened #1371 "WindowServer: Maximized/tiled windows are not adjusted after screen resolution change"
**Reproduction:**
1. Set the screen resolution to 800x600 through Display Properties
2. Maximize/tile any window
3. Set the screen resolution to 1024x768

![Screenshot_20200307_140152](https://user-images.githubusercontent.com/1627292/76144022-772efa00-607c-11ea-9367-255264627cf0.png)

[2020-03-07 13:15] xTibor opened #1372 "WindowServer: Minimization animation targets are not updated after screen resolution change"
**Reproduction:**
1. Open any minimizable window at 640x480
2. Set the screen resolution to 800x600
3. Minimize/unminimize the window: https://streamable.com/wwolc

[2020-03-07 21:41] BenJilks opened #1375 "LibJS: Bytecode compiler and interpreter"
Compiling the AST into bytecode and then executing that would speed up the engine fairly well. This also would open up the possibility to add more optimizations, like detecting where there's static types, in-lining of functions and objects and maybe even JIT compilation. This would provide a very significant speed increase.

However, I'm not sure if this would be either too early or just not worth

[2020-03-07 22:10] awesomekling commented on #1375
Indeed, there are many well-understood ways of optimizing JavaScript engines.

Ultimately I'd prefer something light&understandable over something fast. Maybe those priorities will change when we run out of problems. It's obviously too early to say :)

[2020-03-07 23:59] steve-m opened #1378 "HackStudio: Crash when switching theme"
If  the theme is switched while HackStudio is open, it crashes:

[code]

[2020-03-08 11:23] muscar opened #1382 "HackStudio: Crash on exit"
HackStudio crashes when exiting. The relevant qemu log:

[code]
This looks like a double free somewhere in the `remove()` method in the `HashTable` implementation, maybe in the lower level code for the linked lists which are used for buckets.
I'd be happy to look into this later today or next week.

[2020-03-08 16:08] #1356 closed

[2020-03-08 19:14] ADKaster commented on #1382
Oooh another __cxa_finalize crash. Points towards global destructors (hopefully not in malloc again :) ).

[2020-03-08 19:41] muscar commented on #1382
@ADKaster is there a previous issue around this I can have a look at?

[2020-03-08 19:44] ADKaster commented on #1382
LibGUI global destructors: https://github.com/SerenityOS/serenity/issues/900
Sergey fixing a hack I put in for global destructors in malloc.cpp https://github.com/SerenityOS/serenity/pull/1240

[2020-03-08 19:46] ADKaster commented on #1382
The solution is probably to add AK::NeverDestroyed<T> wrappers around some global hash map of RefCounted objects

[2020-03-08 19:56] muscar commented on #1382
Thanks, I'll have a look.

[2020-03-09 02:30] BenWiederhake opened #1393 "LibPthreads: Leaks memory, join is unreliable"
There are two major problems that I tried to address in [some commits](https://github.com/BenWiederhake/serenity/commits/dev-pthreads), but before I can make a PR it requires some discussion so I'll write here instead.  Most importantly, I don't know how POSIX-compliant you want to be :P

First things first: I'm aware of #223, and this is not about missing chunks of pthread, but rather the questio

[2020-03-09 18:35] #397 closed

[2020-03-09 21:29] awesomekling opened #1398 "Solitaire: Crash while manipulating last remaining card in a pile"
I wish I could recall exactly what I was doing. There was a single card left in one of the Piles, and I was manipulating it somehow. I think maybe I tried grabbing it.

cc @tlmrgvf :)

USERSPACE(22) ASSERTION FAILED: !is_empty()
/home/kling/src/serenity/AK/Vector.h:291 in T AK::Vector<T, inline_capacity>::take_last() [with T = AK::NonnullRefPtr<Card>; long unsigned int inline_capacity = 0]
0x0804b

[2020-03-10 01:33] ADKaster commented on #1393
I think at least for the Thread specific storage, the 'real solution' is to move that entirely into userspace.   I did a bit of the feeling out for how that might work in my [WIP dynamic loader branch](https://github.com/SerenityOS/serenity/pull/1087) [here](https://github.com/SerenityOS/serenity/pull/1087/files#diff-47ba87ceff03884d55540399a8a3862dR28)

But I haven't gotten back to that.. might b

[2020-03-10 10:31] #1382 closed

[2020-03-10 11:04] muscar commented on #1378
I can have a look at this.

[2020-03-10 14:14] howar6hill opened #1406 "LibJS: wrong return value in AssignmentExpression::execute"
https://github.com/SerenityOS/serenity/blob/3803196edb9fc4434e777c01aa16412185fab8c4/Libraries/LibJS/AST.cpp#L356-L368

The return value is incorrect. See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Assignment_Operators#Assignment. It should return the reference of the left hand side variable.

How should it be done, considering this virtual function return a `JS::V

[2020-03-11 08:14] muscar commented on #1260
I'll see if I can come up with something for this.

[2020-03-11 09:06] #1398 closed

[2020-03-12 06:57] skmagiik opened #1423 "FileManager: Drag and drop of a directory in columns view copies contents"
Without any keyboard shortcuts or options dragging and dropping a folder over another folder while in columns view causes the folder, and all of its contents to be copied into the new directory and not moved to the new directory. Files are not linked, but actual copies.

Steps to reproduce:
1. cd ~
2. mkdir test
3. mkdir target
4. cd test
5. echo "hello" > message

![image](https://user-images.git

[2020-03-12 07:08] skmagiik commented on #1423
Repeating this process while under Icon View in File Manager presents the same results.
Repeating this process while under List View in File Manager causes File Manager to crash and exit.

Crash log:
https://pastebin.com/Zx71aBKk

[2020-03-12 13:00] sunverwerth commented on #1406
Maybe we can denote a `Value` as being a reference to a storage location. Similar to lvalue refs in c++.

[2020-03-12 13:38] awesomekling commented on #1406
Hmm, help me understand the problem here.

[code]

This currently yields `x == 25` as expected. What is the issue?

[2020-03-12 13:46] sunverwerth opened #1428 "LibJS: Add operator precedence parsing"
Currently expressions are parsed left to right without regard for operator precedence.

Pratt parsing is a simple and elegant algorithm that can be used:
https://eli.thegreenplace.net/2010/01/02/top-down-operator-precedence-parsing

I'll implement this, so this is a reminder for myself.

[2020-03-12 14:01] sunverwerth commented on #1406
If it works. I'm not sure anymore myself what the problem was... :D

[2020-03-12 21:43] oriko1010 opened #1431 "LibJS: Weird EOF handling"
I was working on a JS syntax highlighter making use of the LibJS lexer and found that it handles the end of the file in a really weird way, seemingly ignoring the last character at times.

`let x = 123` parses the digit as 12
`let y = "str"` cuts off the string literal token value as `"str`
`let z = true` is parsed as an indentifier `tru`
`function` is parsed as an identifier with the value `funct